<footer>
    <div class="container">
        <div class="flex info">
            <div class="col-left">
                <h2>Công ty Cổ phần Early Start</h2>
                <div class="hotline flex">
                    <i class="icon icon-phone"></i>
                    <a href="tel:1900 63 60 52">1900 63 60 52</a>
                </div>
            </div>
            <div class="col-right">
                <p>Giấy phép ĐKKD số 0106651756 do Sở Kế hoạch và Đầu tư TP Hà Nội cấp. Ngày cấp: 01/10/2014</p>
                <p>Trụ sở chính: Tầng 2, Tòa nhà FS, TTTM TNR Gold Season, số 47 Nguyễn Tuân, P. Thanh Xuân Trung, Q. Thanh Xuân, TP. Hà Nội</p>
                <p>Người đại diện pháp luật: Ông Đào Xuân Hoàng - Nhà sáng lập & Giám đốc điều hành</p>
            </div>
        </div>
        <div class="logo-white"><a href=""><img src="./assets/img/logo-white.svg" alt=""></a></div>
        <div class="middle flex pr">
            <div class="col col1">
                <h3>VỀ MONKEY</h3>
                <ul class="menu">
                    <li><a href="" title="">Giới Thiệu</a></li>
                    <li><a href="" title="">Câu Chuyện Thương Hiệu</a></li>
                    <li><a href="" title="">Thành Tựu Nổi Bật</a></li>
                    <li><a href="" title="">Tin Tức</a></li>
                    <li><a href="" title="">Liên Hệ</a></li>
                    <li><a href="" title="">Tuyển Dụng</a></li>
                    <li><a href="" title="">Điều Khoản Sử Dụng</a></li>
                    <li><a href="" title="">Chính Sác Bảo Mật</a></li>
                    <li><a href="" title="">Đăng Ký Đại Lý</a></li>
                    <li><a href="" title="">Chương Trình Affiliate</a></li>
                </ul>
            </div>
            <div class="col col2">
                <h3>SẢN PHẨM</h3>
                <ul class="menu">
                    <li><a href="" title="">Monkey Junior</a></li>
                    <li><a href="" title="">Monkey Stories</a></li>
                    <li><a href="" title="">Monkey Math</a></li>
                    <li><a href="" title="">VMonkey</a></li>
                    <li><a href="" title="">Monkey Trọn Bộ</a></li>
                </ul>
            </div>
            <div class="col col3">
                <h3>HỖ TRỢ</h3>
                <ul class="menu">
                    <li><a href="" title="">Kích Hoạt Tài Khoản</a></li>
                    <li><a href="" title="">Hướng Dẫn Học</a></li>
                    <li><a href="" title="">Hỗ Trợ Khách Hàng</a></li>
                    <li><a href="" title="">Câu Hỏi Thường Gặp</a></li>
                    <li><a href="" title="">Cộng Đồng</a></li>
                </ul>
            </div>
            <div class="col col4">
                <div class="service">
                    <p>Hotline & Dịch Vụ Khách Hàng</p>
                    <div class="flex box-btn">
                        <a href="tel:1900 63 60 52"><i class="icon icon-phone"></i> 1900 63 60 52</a>
                        <a href="mailto:monkeyxinchao@monkey.edu.vn"><i class="icon icon-mail"></i> monkeyxinchao@monkey.edu.vn</a>
                    </div>
                    <span>7h00 - 22h00 các ngày trong tuần</span>
                </div>
                <div class="social">
                    <p>Kết nối với Monkey</p>
                    <div class="social__list flex">
                        <a href="" title="" class="facebook">facebook</a>
                        <a href="" title="" class="youtube">youtube</a>
                    </div>
                </div>
                <a href="" class="fs-ftr-cthuong">Đã thông báo</a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container flex">
            <div class="copyright">© 2021 - Bản quyền của Công ty Cổ phần Early Start</div>
            <div class="language navbar dropdown ml-auto">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="./assets/img/vn.png" alt=""> VIE</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> VIE</a>
                    <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> VIE</a>
                    <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> VIE</a>
                </div>
            </div>
        </div>
    </div>
</footer>