<header>
    <div class="topheader flex">
        <div class="container">
            <a href="" title="">Trở thành đối tác bán hàng của Monkey</a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container pr">
            <a class="logo" href=""><img src="./assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler border-0" type="button">
                <span></span>
            </button>
            <div class="navbar-collapse" id="navbar">
                <a href="javascript:;" class="close" data-miss="collapse"></a>
                <div class="logo m-s"><a href=""><img src="./assets/img/logo.png" alt=""></a></div>
                <div class="box-search">
                    <form action="">
                        <input type="text" name="" placeholder="Tìm kiếm">
                    </form>
                    <button type="button" class="close"></button>
                </div>
                <ul class="navbar-nav">
                    <li>
                        <a href="" title="Về Monkey">Về Monkey</a>
                        <ul class="sub-menu">
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/intro.svg" class="lazyload" alt=""></i> Giới thiệu</a></li>
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/achievement.svg" class="lazyload" alt=""></i> Thành tựu nổi bật</a></li>
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/story.svg" class="lazyload" alt=""></i> Câu chuyện thương hiệu</a></li>
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/news.svg" class="lazyload" alt=""></i> Báo chí nói về Monkey</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" title="Sản phẩm">Sản phẩm</a>
                        <ul class="sub-menu product flex">
                            <li>
                                <a href="" title="">
                                    <img data-src="./assets/img/monkey-all.svg" class="lazyload" alt="">
                                    <span>Trọn bộ Monkey</span>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <img data-src="./assets/img/monkey-j.svg" class="lazyload" alt="">
                                    <span>Tiếng Anh cho trẻ mới bắt đầu</span>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <img data-src="./assets/img/monkey-s.svg" class="lazyload" alt="">
                                    <span>Giỏi Tiếng Anh trước tuổi lên 10</span>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <img data-src="./assets/img/monkey-m.svg" class="lazyload" alt="">
                                    <span>Học Toán theo chương trình GDPT mới cho trẻ mầm non và tiểu học</span>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <img data-src="./assets/img/vmonkey2.svg" class="lazyload" alt="">
                                    <span>Học Tiếng Việt theo chương trình GDPT mới cho trẻ mầm non và tiểu học</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" title="Học liệu cho bé">Học liệu cho bé</a>
                        <ul class="sub-menu">
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/hl1.svg" class="lazyload" alt=""></i> Tất cả học liệu</a></li>
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/hl2.svg" class="lazyload" alt=""></i> Học liệu Tiếng Anh</a></li>
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/hl3.svg" class="lazyload" alt=""></i> Học liệu Toán</a></li>
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/hl4.svg" class="lazyload" alt=""></i> Học liệu Tiếng Việt</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" title="Góc ba mẹ">Góc ba mẹ</a>
                        <ul class="sub-menu">
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/tn1.svg" class="lazyload" alt=""></i> Trắc nghiệm hay</a></li>
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/tn2.svg" class="lazyload" alt=""></i> Ba mẹ cần biết</a></li>
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/tn3.svg" class="lazyload" alt=""></i> Tin tức & Sự kiện</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" title="Hỗ trợ">Hỗ trợ</a>
                        <ul class="sub-menu">
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/ht1.svg" class="lazyload" alt=""></i> Hỗ trợ khách hàng</a></li>
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/ht2.svg" class="lazyload" alt=""></i> Hướng dẫn học</a></li>
                            <li><a href="" title=""><i class="icon"><img data-src="./assets/img/ht3.svg" class="lazyload" alt=""></i> Cộng đồng</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="javascript:;" class="btn_search">Tìm kiếm</a>
                <a href="" title="" class="btn_register flex-center">Đăng Ký</a>
                <div class="language dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="./assets/img/vn.png" alt=""> VIE</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> VIE</a>
                        <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> VIE</a>
                    </div>
                </div>
                <a href="" class="btn_register--1 flex-center">Đăng ký</a>
            </div>
            <a href="" title="" class="btn_register_m m-s">Đăng Ký</a>
        </div>
    </nav>
    <div class="box-fix-right">
        <a href="" class="cart"><span class="flex-center">2</span></a>
        <a href="" class="call"></a>
    </div>
</header>
<div class="modal fade monkey-modal-video" id="modal-video">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal">x</a>
            <iframe src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="modal fade modal-register" id="modal-register1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal">x</a>
            <div class="img-decor img-decor--1"><img src="./assets/img/monkey3.png" alt=""></div>
            <h5>Giúp con khai phá tiềm năng tư duy & ngôn ngữ ngay hôm nay! Đăng ký để được Monkey tư vấn lộ trình học</h5>
            <form action="" method="">
                <div class="form-group">
                    <input type="text" name="" placeholder="Nhập họ và tên">
                </div>
                <div class="form-group">
                    <input type="number" name="" placeholder="Nhập số điện thoại">
                </div>
                <div class="form-group">
                    <input type="email" name="" placeholder="Nhập email">
                </div>
                <div class="form-group">
                    <select name="" id="" class="select-min2">
                        <option value="">Ba mẹ muốn giúp con</option>
                        <option value="">abc</option>
                    </select>
                </div>
                <button type="submit" class="btn_pr btn_submit flex-center">Đăng Ký Tư Vấn Miễn Phí</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade modal-register" id="modal-register2">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal">x</a>
            <div class="img-decor img-decor--2"><img src="./assets/img/monkey.png" alt=""></div>
            <h5>Giúp con khai phá tiềm năng tư duy & ngôn ngữ ngay hôm nay! Đăng ký để được Monkey tư vấn lộ trình học</h5>
            <form action="" method="">
                <div class="form-group">
                    <input type="text" name="" placeholder="Nhập họ và tên">
                </div>
                <div class="form-group">
                    <input type="number" name="" placeholder="Nhập số điện thoại">
                </div>
                <div class="form-group">
                    <input type="email" name="" placeholder="Nhập email">
                </div>
                <div class="form-group">
                    <select name="" class="select-min2">
                        <option value="">Ba mẹ muốn giúp con</option>
                        <option value="">abc</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <input type='text' class="form-day" placeholder="Chọn ngày" id='pickerday' />
                        <span class="icon icon-date"></span>
                    </div>
                    <div class="form-group">
                        <input type='text' class="form-time" placeholder="Chọn giờ" id='pickertime' />
                        <span class="icon icon-time"></span>
                    </div>
                </div>
                <button type="submit" class="btn_pr btn_submit flex-center">Đăng Ký Tư Vấn Miễn Phí</button>
            </form>
        </div>
    </div>
</div>