<main>
    <div class="monkey-landing stories">
        <div class="monkey-landing--s1 pr">
            <div class="container flex-lc">
                <div class="download flex m-sf">
                    <a href="" title=""><img src="./assets/img/android.png" alt=""></a>
                    <a href="" title=""><img src="./assets/img/ios.png" alt=""></a>
                    <p class="w-100">Tải phần mềm Monkey Stories miễn phí!</p>
                </div>
                <div class="intro">
                    <h1 class="title">Giỏi Tiếng Anh Trước Tuổi Lên 10 Cùng App <span class="blue">Monkey Stories</span></h1>
                    <p>App học tiếng Anh cho trẻ mầm non & tiểu học được tải nhiều nhất tại Việt Nam </p>
                    <form action="" class="form-register">
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Nhập họ và tên">
                            </div>
                            <div class="form-group">
                                <input type="number" name="" placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                        <button type="submit" class="btn-submit flex-center">Đăng Ký Tư Vấn Miễn Phí</button>
                    </form>
                </div>
                <div class="video pr" data-toggle="modal" data-target="#modal-video" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1">
                    <div class="video__thumb pr"><img data-src="./assets/img/ms-video.png" class="lazyload" alt=""></div>
                    <div class="video__play pr"><img src="./assets/img/play1.svg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s2 pr">
            <div class="container">
                <h2 class="title">Top 1 Chương Trình Học Tiếng Anh Cho Trẻ Em Tại Việt Nam Được Quốc Tế Chứng Nhận</h2>
                <ul class="top-list flex">
                    <li>
                        <div class="icon"><img src="./assets/img/icon-store.svg" alt=""></div>
                        <div class="content">
                            <h4>APPLE VINH DANH</h4>
                            <p>Là một trong những ứng dụng tốt nhất của lập trình viên người Việt</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-top1.svg" alt=""></div>
                        <div class="content">
                            <h4>Top 1</h4>
                            <p>Ứng dụng học Tiếng Anh được tải nhiều nhất tại Việt Nam</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-group.svg" alt=""></div>
                        <div class="content">
                            <h4>HƠN 10 TRIỆU</h4>
                            <p>Người tại 108 quốc gia trên toàn thế giới tin dùng</p>
                        </div>
                    </li>
                </ul>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s3 pr">
            <div class="container">
                <h2 class="title">Cách Học Tiếng Anh Hiệu Quả Nhất Giúp Trẻ Phát Triển 4 Kĩ Năng Tiếng Anh</h2>
                <div class="skill pr">
                    <div class="skill__round flex-center">
                        <h5>Hứng Thú Vượt Trội</h5>
                        <p>Hào hứng, tự giác học tiếng Anh thành thói quen. Tự tin khi sử dụng tiếng Anh</p>
                    </div>
                    <ul class="skill__list flex">
                        <li>
                            <div class="icon"><img src="./assets/img/icon-listen.svg" alt=""></div>
                            <div class="content">
                                <h4>Nghe</h4>
                                <p>“Nghe đâu hiểu đấy” khi nói chuyện với người bản xứ</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><img src="./assets/img/icon-speak.svg" alt=""></div>
                            <div class="content">
                                <h4>Nói</h4>
                                <p>Phát âm chuẩn, ngữ điệu tiếng Anh chuẩn như người Mỹ nói tiếng Anh</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><img src="./assets/img/icon-write.svg" alt=""></div>
                            <div class="content">
                                <h4>Viết</h4>
                                <p>Văn phong, tư duy viết & cách dùng từ, diễn đạt chuẩn như người bản xứ</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><img src="./assets/img/icon-read.svg" alt=""></div>
                            <div class="content">
                                <h4>Đọc</h4>
                                <p>Năng lực đọc hiểu tiếng Anh so với bạn đồng trang lứa</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s4 pr">
            <div class="container">
                <h2 class="title">Phương Pháp Học Tiếng Anh Cho Trẻ Hiệu Quả Nhất Thế Giới</h2>
                <div class="method-list">
                    <div class="method method--1 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/s1.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Học Thông Qua Trò Chơi</h4>
                            <p>Vừa chơi vừa học mà hiệu quả vượt bậc. Con hứng thú, tự giác học không cần ba mẹ nhắc nhở</p>
                        </div>
                    </div>
                    <div class="method method--2 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/s2.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Học tiếng Anh qua truyện tranh tương tác</h4>
                            <p>Con hấp thụ tiếng Anh một cách tự nhiên. Trẻ được chủ động, tương tác mặc dù là học qua app</p>
                        </div>
                    </div>
                    <div class="method method--3 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/s3.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Phonics</h4>
                            <p>Con biết đọc mọi từ vựng tiếng Anh, kể cả từ mới gặp lần đầu, từ khó</p>
                        </div>
                    </div>
                    <div class="method method--4 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/s4.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>“Tắm” tiếng Anh</h4>
                            <p>Tạo mội trường tiếng Anh chuẩn Anh - Mỹ ngay tại nhà, học mọi lúc mọi nơi mà lại vô cùng tiết kiệm & hiệu quả.</p>
                            <a href="" title="" class="btn_register btn_pr flex-center pc-s">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <a href="" title="" class="btn_register btn_pr flex-center m-sf w-btn">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="monkey-landing--s5 pr">
            <div class="container">
                <h2 class="title">Học tiếng Anh Online & Offline Cho Trẻ Em Vô Cùng Đơn Giản, Tiện Lợi Với Monkey Stories</h2>
                <ul class="convenient flex">
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j6.svg" alt=""></div>
                        <div class="content">
                            <h4>Nội Dung Thêm Mới Hàng Tuần</h4>
                            <p>Con thỏa thích đọc truyện miễn phí</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j2.svg" alt=""></div>
                        <div class="content">
                            <h4>Báo Cáo Cập Nhật Hàng Tuần</h4>
                            <p>Nắm bắt kịp thời hiệu quả học tập của con</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j3.svg" alt=""></div>
                        <div class="content">
                            <h4>Không Giới Hạn Số Thiết Bị Đăng Nhập</h4>
                            <p>Học cùng con mọi lúc mọi nơi siêu tiện lợi</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j4.svg" alt=""></div>
                        <div class="content">
                            <h4>Tạo Nhiều Hồ Sơ Người Học Trên 1 Tài Khoản</h4>
                            <p>Tiết kiệm tối đa chi phí cho gia đình</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-phone1.svg" alt=""></div>
                        <div class="content">
                            <h4>Hỗ Trợ Trọn Đời Sau Mua</h4>
                            <p>95% câu hỏi được Monkey hỗ trợ trong vòng 24 tiếng </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j7.svg" alt=""></div>
                        <div class="content">
                            <h4>Cộng Đồng Ba Mẹ Thông Thái</h4>
                            <p>Teacher Monkey & hơn 110k ba mẹ trong Facebook group ba mẹ thân thiết sẵn sàng hướng dẫn </p>
                        </div>
                    </li>
                </ul>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s6 pr">
            <div class="container">
                <h2 class="title">Chương Trình Học Đạt Tiêu Chuẩn Quốc Tế Do Monkey & Đội Ngũ Chuyên Gia Người Mỹ Xây Dựng</h2>
                <div class="program-list">
                    <div class="program program--1 flex-lc pr">
                        <div class="program__content">
                            <h4>Phần Đọc - Kho truyện đồ sộ với nhiều cấp độ & chủ đề Phù hợp với nhiều trình độ và lứa tuổi của trẻ</h4>
                            <p>1.000+ truyện tranh tiếng Anh cho bé</p>
                            <p>4 cấp độ dạy tiếng Anh cho trẻ mầm non & tiểu học từ Dễ đến Nâng cao</p>
                            <p>Thêm mới 5-7 truyện hàng tuần</p>
                            <p>11 chủ đề trong cuộc sống thân thuộc & phù hợp với lứa tuổi của trẻ</p>
                            <p>6 hình thức truyện tương tác như truyện hoạt hình, truyện series, truyện nhạc, truyện icon...</p>
                            <p>2-4 hoạt động tương tác sau mỗi truyện giúp trẻ hiểu sâu về bài học & ôn tập kiến thức </p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img data-src="./assets/img/img-ps1.png" class="lazyload" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="program program--2 flex-lc pr">
                        <div class="program__content">
                            <h4>Phần Đọc hiểu: Dạy toàn diện 4 kĩ năng tiếng Anh </h4>
                            <p>Áp dụng chặt chẽ Hệ thống tiêu chuẩn chung của Mỹ trong giảng dạy ngôn ngữ cho trẻ em Mầm non và Tiểu học (CCSS)</p>
                            <p>3 Cấp độ - 119 bài học tiếng Anh cho bé mẫu giáo & tiểu học với độ khó tăng dần</p>
                            <p>6-12 hoạt động trong mỗi bài học là các dạng trò chơi giáo dục đặc sắc, có tính tương tác cao</p>
                            <p>Dạy trẻ học toàn diện: từ vựng, phát âm, học từ phổ biến, học xây dựng câu, học kỹ năng đọc hiểu, phát triển kỹ năng tư duy</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img data-src="./assets/img/img-ps2.png" class="lazyload" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="program program--3 flex-lc pr">
                        <div class="program__content">
                            <h4>Monkey Phonics - Khóa học ngữ âm tiếng Anh toàn diện. Giúp trẻ đánh vần tiếng Anh dễ như tiếng Việt</h4>
                            <p>243 bài học theo 3 cấp độ với độ khó tăng dần</p>
                            <p>60+ game tương tác kích thích hứng thú học của trẻ</p>
                            <p>Học âm và từ phổ biến (sight words)</p>
                            <p>Áp dụng Synthetic Phonics - phương pháp tách ghép đánh vần tiếng Anh tổng hợp nổi tiếng được Bộ Giáo dục của các nước nói tiếng Anh trên thế giới sử dụng</p>
                            <p>5 lợi ích nổi bật cho trẻ: Giúp trẻ phát âm chuẩn, đọc lưu loát từ rất sớm, viết chính tả chuẩn, tăng vốn từ vựng nhanh chóng, tăng sự tự tin khi giao tiếp tiếng Anh </p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img data-src="./assets/img/img-ps3.png" class="lazyload" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="program program--4 flex-lc pr">
                        <div class="program__content">
                            <h4>Học liệu - Giúp con x10 hiệu quả học tiếng Anh tại nhà khi kết hợp học online & offline </h4>
                            <p>Là các bài tập bổ trợ được các chuyên gia biên soạn nhằm giúp trẻ tổng hợp, ôn tập & mở rộng các kiến thức, kĩ năng tiếng Anh đã được học trên app</p>
                            <p>Gồm 2 phần: Học liệu Truyện và Học liệu Phonics tương ứng với các cấp độ truyện/bài học Phonics trong Monkey Stories</p>
                            <p>Là các bài tập bổ trợ được các chuyên gia biên soạn nhằm giúp trẻ tổng hợp, ôn tập & mở rộng các kiến thức, kĩ năng tiếng Anh đã được học trên app</p>
                            <p>Được thiết kế phù hợp với lứa tuổi và trình độ của trẻ </p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img data-src="./assets/img/img-ps4.png" class="lazyload" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="program program--5 flex-lc pr">
                        <div class="program__content">
                            <h4>Phần Nghe - Kho sách nói tiếng Anh cho trẻ em lớn nhất Việt Nam. Môi trường "tắm" Tiếng Anh chuẩn Mỹ lý tưởng cho bé</h4>
                            <p>200+ audiobooks tiếng Anh với 4 cấp độ</p>
                            <p>4 thể loại truyện: thơ, bài học cuộc sống, truyện kinh điển, truyện ngụ ngôn</p>
                            <p>Nội dung chọn lọc, phù hợp với trẻ nhỏ, giàu tính giáo dục & nhân văn </p>
                            <p>Giọng đọc chuẩn phát âm, ngữ điệu chuẩn bản ngữ </p>
                            <p>Tính năng đa dạng: hiển thị chữ theo giọng đọc, nghe ngay cả khi tắt màn hình, nghe hẹn giờ... giúp ba mẹ linh hoạt, thuận tiện & tạo môi trường "tắm nghe" tiếng Anh cho con mọi lúc mọi nơi </p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img data-src="./assets/img/img-ps5.png" class="lazyload" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s7 pr">
            <div class="container">
                <h2 class="title">Hiệu Quả Đã Được Chứng Minh Khi Dạy Tiếng Anh Cho Bé Mẫu Giáo & Tiểu Học Với Monkey Stories</h2>
                <div class="feedback flex pr">
                    <div class="feedback__content">
                        <div class="text pr">"Kiên trì cho con học 30 phút mỗi ngày qua ứng dụng Monkey Junior, con tiến bộ rõ rệt trong cách phát âm, thuộc nhiều từ mới hơn. Đến nay cháu 5 tuổi đã đọc các câu chuyện tiếng Anh, giao tiếp nhanh nhẹn với người nước ngoài. Tôi vô cùng tự hào."</div>
                        <div class="author flex">
                            <div class="author__img"><img src="./assets/img/pdq.png" alt=""></div>
                            <div class="author__content">
                                <h4>Anh Đại Dương</h4>
                                <p>Bố bé Quang Bình tại chương trình "Mặt trời tí hon" chia sẻ</p>
                            </div>
                        </div>
                        <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    </div>
                    <div class="feedback__video">
                        <div class="video pr" data-link="">
                            <div class="video__thumb pr"><img data-src="./assets/img/thumb-video-j.jpg" class="lazyload" alt=""></div>
                            <div class="video__play pr"><img src="./assets/img/play.svg" alt=""></div>
                        </div>
                        <p>Review Monkey Junior từ học viên cũ</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="monkey-landing--s8 pr">
            <div class="container">
                <h2 class="title">bảng giá mua gói học monkey junior trọn đời và theo năm</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="table-price seller pr">
                            <div class="year">1 năm</div>
                            <div class="price">
                                <div class="price__new">499.000đ</div>
                                <div class="price__old flex">
                                    <span class="old">832.000đ</span>
                                    <span>-40%</span>
                                </div>
                            </div>
                            <h4>Tiếng Anh cho trẻ mới bắt đầu</h4>
                            <p>Khởi đầu tốt nhất cho con bắt đầu học tiếng Anh. Con học càng sớm càng có lợi thế.</p>
                            <p>Tích lũy 3.000+ từ vựng & 6.000 mẫu câu tiếng Anh trước 10 tuổi.</p>
                            <p>Linh hoạt sử dụng trên nhiều thiết bị.</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="table-price pr">
                            <div class="year">2 năm</div>
                            <div class="price">
                                <div class="price__new">699.000đ</div>
                                <div class="price__old flex">
                                    <span class="old">1.165.000đ</span>
                                    <span>-40%</span>
                                </div>
                            </div>
                            <h4>Tiếng Anh cho trẻ mới bắt đầu</h4>
                            <p>Khởi đầu tốt nhất cho con bắt đầu học tiếng Anh. Con học càng sớm càng có lợi thế.</p>
                            <p>Tích lũy 3.000+ từ vựng & 6.000 mẫu câu tiếng Anh trước 10 tuổi.</p>
                            <p>Linh hoạt sử dụng trên nhiều thiết bị.</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="table-price pr">
                            <div class="year">Trọn đời</div>
                            <div class="price">
                                <div class="price__new">1.499.000đ</div>
                                <div class="price__old flex">
                                    <span class="old">2.499.000đ</span>
                                    <span>-40%</span>
                                </div>
                            </div>
                            <h4>Tiếng Anh cho trẻ mới bắt đầu</h4>
                            <p>Khởi đầu tốt nhất cho con bắt đầu học tiếng Anh. Con học càng sớm càng có lợi thế.</p>
                            <p>Tích lũy 3.000+ từ vựng & 6.000 mẫu câu tiếng Anh trước 10 tuổi.</p>
                            <p>Linh hoạt sử dụng trên nhiều thiết bị.</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s9 pr">
            <div class="container">
                <div class="box-sale flex">
                    <h4>Chương trình khuyến mãi mua gói học Monkey Juinor giảm giá 40%</h4>
                    <div class="box-register bg-sh">
                        <h5>Chỉ còn trong</h5>
                        <div class="count_down flex">
                            <div class="down days">
                                <span class="time">00</span>
                                <span class="text">Ngày</span>
                            </div>
                            <div class="down hours">
                                <span class="time">00</span>
                                <span class="text">Giờ</span>
                            </div>
                            <div class="down minutes">
                                <span class="time">00</span>
                                <span class="text">Phút</span>
                            </div>
                            <div class="down seconds">
                                <span class="time">00</span>
                                <span class="text">Giây</span>
                            </div>
                        </div>
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Nhập họ và tên">
                            </div>
                            <div class="form-group">
                                <input type="number" name="" placeholder="Nhập số điện thoại">
                            </div>
                            <button type="submit" class="btn-submit btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="monkey-advise pr m-s">
            <div class="container">
                <div class="advise flex-lc">
                    <div class="advise__content">
                        <p>Trẻ em cần được trao cơ hội để có thể học tập và phát triển tốt hơn. Giúp con khai phá tiềm năng tư duy và ngôn ngữ ngay hôm nay.</p>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Nhập tên ba (mẹ) để được Monkey tư vấn lộ trình học cho bé</label>
                                <input type="text" name="" placeholder="Nhập tên ba/mẹ">
                            </div>
                            <button type="submit" class="btn_submit flex-center">Nhận Tư Vấn Miễn Phí</button>
                        </form>
                    </div>
                    <div class="advise__img">
                        <img src="./assets/img/monkey.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>