<main>
    <div class="monkey-landing junior">
        <div class="monkey-landing--s1 pr">
            <div class="container flex-lc">
                <div class="download flex m-sf">
                    <a href="" title=""><img src="./assets/img/android.png" alt=""></a>
                    <a href="" title=""><img src="./assets/img/ios.png" alt=""></a>
                    <p class="w-100">Tải phần mềm Monkey Stories miễn phí!</p>
                </div>
                <div class="intro">
                    <h1 class="title">ứng dụng học <br> Tiếng Anh Trẻ Em <span class="green">Monkey Junior</span></h1>
                    <p>Monkey Junior là chương trình dành cho trẻ 0 - 10 tuổi giúp trẻ bắt đầu học tiếng Anh dễ dàng, thú vị và hiệu quả hơn.</p>
                    <form action="" class="form-register">
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Nhập họ và tên">
                            </div>
                            <div class="form-group">
                                <input type="number" name="" placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                        <button type="submit" class="btn-submit flex-center">Đăng Ký Tư Vấn Miễn Phí</button>
                    </form>
                </div>
                <div class="video pr" data-toggle="modal" data-target="#modal-video" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1">
                    <div class="video__thumb pr"><img data-src="./assets/img/mj-video.png" class="lazyload" alt=""></div>
                    <div class="video__play pr"><img src="./assets/img/play1.svg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s2 pr">
            <div class="container">
                <h2 class="title">Ứng dụng Tiếng Anh Cho Trẻ Em Top 1 Tại Việt Nam Top 5 toàn thế giới</h2>
                <ul class="top-list flex">
                    <li>
                        <div class="icon"><img src="./assets/img/icon-t1.svg" alt=""></div>
                        <div class="content">
                            <h4>GIẢI NHẤT</h4>
                            <p>Sáng kiến toàn cầu do Tổng thống Mỹ Barack Obama trao tặng</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-t2.svg" alt=""></div>
                        <div class="content">
                            <h4>GIẢI NHẤT</h4>
                            <p> Nhân tài Đất việt 2016</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-t3.svg" alt=""></div>
                        <div class="content">
                            <h4>GIẢI VÀNG</h4>
                            <p>ASEAN ICT Awards</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-t4.svg" alt=""></div>
                        <div class="content">
                            <h4>10 TRIỆU NGƯỜI</h4>
                            <p>Tại 108 quốc gia trên toàn thế giới tin dùng</p>
                        </div>
                    </li>
                </ul>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s3 pr">
            <div class="container">
                <h2 class="title">Lựa Chọn Tốt Nhất Cho Mọi Trẻ Em Mới Bắt Đầu Học Tiếng Anh</h2>
                <div class="row row-s3">
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item__img flex-center"><img src="./assets/img/img-c1.svg" alt=""></div>
                            <div class="item__content">
                                <h4>Hứng Thú Học Vượt Trội</h4>
                                <p>Hứng thú với tiếng Anh ngay từ khi bắt đầu & xuyên suốt quá trình học</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item__img flex-center"><img src="./assets/img/img-c2.svg" alt=""></div>
                            <div class="item__content">
                                <h4>Vốn Từ Vựng Cực Đỉnh</h4>
                                <p>Biết 3.000+ từ vựng tiếng Anh nếu học đều đặn trong 3 năm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item__img flex-center"><img src="./assets/img/img-c3.svg" alt=""></div>
                            <div class="item__content">
                                <h4>Phát Âm Chuẩn Anh - Mỹ</h4>
                                <p>Phát âm tiếng Anh như người bản xứ ngay từ đầu</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item__img flex-center"><img src="./assets/img/img-c4.svg" alt=""></div>
                            <div class="item__content">
                                <h4>Dễ Dàng Bắt Đầu Và Duy Trì Thói Quen</h4>
                                <p>Bắt nhịp & tạo thói quen học tiếng Anh một cách đơn giản, với lộ trình từ Dễ đến Nâng cao do chuyên gia xây sẵn.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s4 pr">
            <div class="container">
                <div class="header">
                    <h2 class="title">Phương Pháp Giáo Dục Sớm Dạy Tiếng Anh
                        Cho Trẻ Em Hiệu Quả Nhất Thế Giới </h2>
                    <p>Bắt đầu càng sớm càng có hiệu quả nhanh chóng & rõ ràng.</p>
                </div>
                <div class="method-list">
                    <div class="method method--1 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/m1.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Học Thông Qua Trò Chơi</h4>
                            <p>Các game giáo dục được tính toán kĩ lưỡng để giải quyết đặc tính "cả thèm chóng chán" của mọi trẻ nhỏ</p>
                        </div>
                    </div>
                    <div class="method method--2 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/m2.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Chụp Hình Nguyên Từ (Whole Words) Và Đánh Vần  (Phonics)</h4>
                            <p>Kích thích & phát triển đồng đều 2 bán cầu não của trẻ trong giai đoạn cửa sổ cơ hội</p>
                        </div>
                    </div>
                    <div class="method method--3 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/m3.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Phương Pháp Tráo Thẻ Nhanh Glenn Doman</h4>
                            <p>Học tiếng Anh qua flashcard một cách chuẩn chỉnh, có hệ thống giúp trẻ biến từ vựng thành trí nhớ vĩnh cửu</p>
                        </div>
                    </div>
                    <div class="method method--4 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/m4.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Phương Pháp Đa Giác Quan Của TS Robert Titzer (Mỹ)</h4>
                            <p>Kích thích mọi giác quan của trẻ trong lúc học để trẻ hứng thú & tăng tốc độ học hỏi, tăng khả năng ghi nhớ.</p>
                            <a href="" title="" class="btn_register btn_pr flex-center pc-s">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <a href="" title="" class="btn_register btn_pr flex-center m-sf w-btn">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="monkey-landing--s5 pr">
            <div class="container">
                <h2 class="title">Học tiếng Anh Online & Offline Cho Trẻ Em Vô Cùng Đơn Giản, Tiện Lợi Với Monkey Junior</h2>
                <ul class="convenient flex">
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j1.svg" alt=""></div>
                        <div class="content">
                            <h4>Chương Trình Học Được Thiết Kế Sẵn</h4>
                            <p>Dễ dàng đồng hành cùng con dù ba mẹ không giỏi tiếng Anh</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j2.svg" alt=""></div>
                        <div class="content">
                            <h4>Báo Cáo Cập Nhật Hàng Tuần</h4>
                            <p>Nắm bắt kịp thời hiệu quả học tập của con</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j3.svg" alt=""></div>
                        <div class="content">
                            <h4>Không Giới Hạn Số Thiết Bị Đăng Nhập</h4>
                            <p>Học cùng con mọi lúc mọi nơi siêu tiện lợi</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j4.svg" alt=""></div>
                        <div class="content">
                            <h4>Tạo Nhiều Hồ Sơ Người Học Trên 1 Tài Khoản</h4>
                            <p>Tiết kiệm tối đa chi phí cho gia đình</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j5.svg" alt=""></div>
                        <div class="content">
                            <h4>Đồng Bộ Tiến Độ Học</h4>
                            <p>Cập nhật dữ liệu mới nhất trên tất cả các thiết bị, con không phải học lại từ đầu</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j6.svg" alt=""></div>
                        <div class="content">
                            <h4>Cập Nhật Mới Hàng Tuần</h4>
                            <p>Từ vựng mới & game mới được bổ sung liên tục</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-phone1.svg" alt=""></div>
                        <div class="content">
                            <h4>Hỗ Trợ Trọn Đời Sau Mua</h4>
                            <p>95% câu hỏi được Monkey hỗ trợ trong vòng 24 tiếng </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j7.svg" alt=""></div>
                        <div class="content">
                            <h4>Cộng Đồng Ba Mẹ Thông Thái</h4>
                            <p>Teacher Monkey & hơn 110k ba mẹ trong Facebook group ba mẹ thân thiết sẵn sàng hướng dẫn </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j8.svg" alt=""></div>
                        <div class="content">
                            <h4>Được Nhắc Học Trong Thời Gian Đầu</h4>
                            <p>Tính năng nhắc học qua noti, email để xây dựng thói quen khi bắt đầu học </p>
                        </div>
                    </li>
                </ul>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s6 pr">
            <div class="container">
                <h2 class="title">Chương Trình Học Tiếng Anh Cho Trẻ Em Đạt Tiêu Chuẩn Quốc Tế</h2>
                <div class="program-list">
                    <div class="program program--1 flex-lc pr">
                        <div class="program__content">
                            <h4>3.000+ từ vựng tiếng Anh về hơn 65 chủ đề tiếng Anh gần gũi với trẻ. Dạy theo lộ trình từ Dễ - Nâng cao phù hợp cho trẻ mới bắt đầu</h4>
                            <p>Lộ trình học được chia thành 3 cấp độ Dễ - Trung bình - Nâng cao với các bài học được xây dựng trên 2 yếu tố: Tính kế thừa & Tính phát triển</p>
                            <p>Cấp độ Dễ: 25 chủ đề - XX từ vựng</p>
                            <p>Cấp độ Trung bình: 26 chủ đề - XX từ vựng</p>
                            <p>Cấp độ Nâng cao: 28 chủ đề - XX từ vựng.</p>
                            <p>Trẻ lựa chọn chủ đề yêu thích, và học theo lộ trình hệ thống đề xuất, đảm bảo tính cá nhân hóa</p>
                            <p>Được thay đổi chủ đề khi học</p>
                            <p>Với mỗi từ vựng, trẻ sẽ được học đầy đủ 4 khía cạnh: Đọc và hiểu nghĩa của từ, Phát âm từ vựng chuẩn Anh – Mỹ, Cấu tạo của từ, Sử dụng từ để xây dựng câu</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img src="./assets/img/p1.png" class="ls-is-cached lazyloaded" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="program program--2 flex-lc pr">
                        <div class="program__content">
                            <h4>Bài học có tính cá nhân hóa cao. Được thiết kế riêng theo độ tuổi & sở thích của từng bé</h4>
                            <p>Lộ trình học được chia thành 3 cấp độ Dễ - Trung bình - Nâng cao với các bài học được xây dựng trên 2 yếu tố: Tính kế thừa & Tính phát triển</p>
                            <p>Trẻ 1 – 2 tuổi: Bài học kéo dài khoảng 4 – 5 phút</p>
                            <p>Trẻ 6 – 10 tuổi: bài học kéo dài 10 – 12 phút</p>
                            <p>Cấp độ Nâng cao: 28 chủ đề - XX từ vựng</p>
                            <p>Mỗi bài học tập trung dạy 4 từ vựng thông qua 7 - 10 hoạt động được thiết kế khác nhau đối với mỗi người học, tùy vào sở thích, trình độ & mức độ tương tác của trẻ với bài học.</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img src="./assets/img/p2.png" class="ls-is-cached lazyloaded" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="program program--3 flex-lc pr">
                        <div class="program__content">
                            <h4>Kho game & video, audio, hình ảnh minh họa sinh động, hấp dẫn. Luôn đổi mới & cập nhật qua các bài học, cấp độ học để luôn hứng thú</h4>
                            <p>Hàng ngàn loại hình game giáo dục chất lượng cao - hấp dẫn & sống động giúp trẻ vừa học, vừa chơi mà lại vô cùng hiệu quả</p>
                            <p>6.000 hình ảnh, 10.000 audio giọng đọc bản xứ cùng 2.000 video miêu tả nghĩa của từ giúp mỗi bài học của trẻ luôn tràn ngập màu sắc và hứng thú</p>
                            <p>Hệ thống game được bổ sung, cập nhật thường xuyên và chia theo độ khó. Khi tuổi của bé lớn hơn, độ khó của game cũng tăng theo</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img src="./assets/img/p3.png" class="ls-is-cached lazyloaded" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="program program--4 flex-lc pr">
                        <div class="program__content">
                            <h4>Công nghệ tiên tiến giúp cá nhân hóa trải nghiệm học tập của trẻ</h4>
                            <p>Công nghệ Trí tuệ nhân tạo (AI) giúp nhận diện giọng nói để luyện phát âm chuẩn Anh Mỹ cho trẻ (Mới)</p>
                            <p>Công nghệ... giúp "đọc - hiểu" hành vi của bé khi học với app để cá nhân hóa lộ trình học & bài học từng người học theo chủ đề (Mới)</p>
                            <p>Tính tương tác cao: Nghe, nhìn, đọc, chạm, nói - giúp trẻ chủ động trong suốt bài học</p>
                            <p>Báo cáo học tập của bé dành cho ba mẹ (Mới).</p>
                            <p>Không cần sử dụng internet sau khi đã tải nội dung cần đọc.</p>
                            <p>Nhận ngôi sao khen thưởng sau mỗi bài học, tích lũy để đổi Sticker - giúp tăng hứng thú học tiếng Anh cho bé.</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img src="./assets/img/p4.png" class="ls-is-cached lazyloaded" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s7 pr">
            <div class="container">
                <h2 class="title">Hiệu Quả Đã Được Chứng Minh Khi Dạy Tiếng Anh Cho Bé Mẫu Giáo & Tiểu Học Với Monkey Junior</h2>
                <div class="feedback flex pr">
                    <div class="feedback__content">
                        <div class="text pr">"<strong>Kiên trì cho con học 30 phút mỗi ngày</strong> qua ứng dụng Monkey Junior, con tiến bộ rõ rệt trong cách phát âm, thuộc nhiều từ mới hơn. Đến nay cháu 5 tuổi đã đọc các câu chuyện tiếng Anh, giao tiếp nhanh nhẹn với người nước ngoài. Tôi vô cùng tự hào."</div>
                        <div class="author flex">
                            <div class="author__img"><img src="./assets/img/pdq.png" alt=""></div>
                            <div class="author__content">
                                <h4>Anh Đại Dương</h4>
                                <p>Bố bé Quang Bình tại chương trình "Mặt trời tí hon" chia sẻ</p>
                            </div>
                        </div>
                        <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    </div>
                    <div class="feedback__video">
                        <div class="video pr" data-link="">
                            <div class="video__thumb pr"><img data-src="./assets/img/thumb-video-j.jpg" class="lazyload" alt=""></div>
                            <div class="video__play pr"><img src="./assets/img/play.svg" alt=""></div>
                        </div>
                        <p>Review Monkey Junior từ học viên cũ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s8 pr">
            <div class="container">
                <h2 class="title">bảng giá mua gói học monkey junior trọn đời và theo năm</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="table-price seller pr">
                            <div class="year">1 năm</div>
                            <div class="price">
                                <div class="price__new">499.000đ</div>
                                <div class="price__old flex">
                                    <span class="old">832.000đ</span>
                                    <span>-40%</span>
                                </div>
                            </div>
                            <h4>Tiếng Anh cho trẻ mới bắt đầu</h4>
                            <p>Khởi đầu tốt nhất cho con bắt đầu học tiếng Anh. Con học càng sớm càng có lợi thế.</p>
                            <p>Tích lũy 3.000+ từ vựng & 6.000 mẫu câu tiếng Anh trước 10 tuổi.</p>
                            <p>Linh hoạt sử dụng trên nhiều thiết bị.</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="table-price pr">
                            <div class="year">2 năm</div>
                            <div class="price">
                                <div class="price__new">699.000đ</div>
                                <div class="price__old flex">
                                    <span class="old">1.165.000đ</span>
                                    <span>-40%</span>
                                </div>
                            </div>
                            <h4>Tiếng Anh cho trẻ mới bắt đầu</h4>
                            <p>Khởi đầu tốt nhất cho con bắt đầu học tiếng Anh. Con học càng sớm càng có lợi thế.</p>
                            <p>Tích lũy 3.000+ từ vựng & 6.000 mẫu câu tiếng Anh trước 10 tuổi.</p>
                            <p>Linh hoạt sử dụng trên nhiều thiết bị.</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="table-price pr">
                            <div class="year">Trọn đời</div>
                            <div class="price">
                                <div class="price__new">1.499.000đ</div>
                                <div class="price__old flex">
                                    <span class="old">2.499.000đ</span>
                                    <span>-40%</span>
                                </div>
                            </div>
                            <h4>Tiếng Anh cho trẻ mới bắt đầu</h4>
                            <p>Khởi đầu tốt nhất cho con bắt đầu học tiếng Anh. Con học càng sớm càng có lợi thế.</p>
                            <p>Tích lũy 3.000+ từ vựng & 6.000 mẫu câu tiếng Anh trước 10 tuổi.</p>
                            <p>Linh hoạt sử dụng trên nhiều thiết bị.</p>
                            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s9 pr">
            <div class="container">
                <div class="box-sale flex">
                    <h4>Chương trình khuyến mãi mua gói học Monkey Juinor giảm giá 40%</h4>
                    <div class="box-register bg-sh">
                        <h5>Chỉ còn trong</h5>
                        <div class="count_down flex">
                            <div class="down days">
                                <span class="time">00</span>
                                <span class="text">Ngày</span>
                            </div>
                            <div class="down hours">
                                <span class="time">00</span>
                                <span class="text">Giờ</span>
                            </div>
                            <div class="down minutes">
                                <span class="time">00</span>
                                <span class="text">Phút</span>
                            </div>
                            <div class="down seconds">
                                <span class="time">00</span>
                                <span class="text">Giây</span>
                            </div>
                        </div>
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Nhập họ và tên">
                            </div>
                            <div class="form-group">
                                <input type="number" name="" placeholder="Nhập số điện thoại">
                            </div>
                            <button type="submit" class="btn-submit btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="monkey-advise pr m-s">
            <div class="container">
                <div class="advise flex-lc">
                    <div class="advise__content">
                        <p>Trẻ em cần được trao cơ hội để có thể học tập và phát triển tốt hơn. Giúp con khai phá tiềm năng tư duy và ngôn ngữ ngay hôm nay.</p>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Nhập tên ba (mẹ) để được Monkey tư vấn lộ trình học cho bé</label>
                                <input type="text" name="" placeholder="Nhập tên ba/mẹ">
                            </div>
                            <button type="submit" class="btn_submit flex-center">Nhận Tư Vấn Miễn Phí</button>
                        </form>
                    </div>
                    <div class="advise__img">
                        <img src="./assets/img/monkey.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>