:root{
  --gray: #F7F7F7;
  --gray1: #69676A;;
  --dark: #4E4C50;
  --red: #EE202E;
  --hover: #d30d1a;
  --green: #92C83E;
  --blue: #00C2F3;
  --orange: #FBAC17;
  --violet: #663595;
  --monkeyheader: monkeyheader, sans-serif;
}
body{
  width: 100%;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #4E4C50;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-thumb{background: #888;}
  &::-webkit-scrollbar-track{background: #ccc;}
}

body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a{transition: .15s; color: var(--dark); font-size: 14px;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
h1,h2,h3,h4,h5{font-size: inherit; margin-bottom: 0;}

@mixin center{
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
@mixin text1{
  font-size: 12px;
  line-height: 18px;
  color: #B8B7B9;
}
@mixin text2{
  font-size: 16px;
  line-height: 24px;
}
@mixin text3{
  font-size: 18px;
  line-height: 28px;
}
@mixin decor1{
  content: "";
  position: absolute; z-index: -1;
  width: 100%; height: 926px;
  background: url("#{$img-path}/decor-h2.svg") no-repeat 0 0/contain;
  left: 0;
}
@mixin decor2{
  content: "";
  position: absolute; z-index: -1;
  width: 100%; height: 716px;
  background: url("#{$img-path}/decor-3.svg") no-repeat 0 0/cover;
  right: 0;
}
@mixin decor3{
  content: "";
  position: absolute; z-index: -1;
  width: 1440px; height: 717px;
  background: url("#{$img-path}/decor-hv3.svg") no-repeat 0 0/contain;
  right: 0;
}
@mixin decor4{
  content: "";
  position: absolute; z-index: -1;
  width: 1440px; height: 998px;
  background: url("#{$img-path}/decor-sp1.svg") no-repeat 0 0/contain;
  right: 0;
}
@mixin decor5{
  content: "";
  position: absolute; z-index: -1;
  width: 1440px; height: 920px;
  background: url("#{$img-path}/decor-sp2.svg") no-repeat 0 0/contain;
  left: 0;
}
@mixin decor6{
  content: "";
  position: absolute; z-index: -1;
  width: 956px; height: 1099px;
  background: url("#{$img-path}/decor-sp3.svg") no-repeat 0 0/contain;
  right: 0;
}
@mixin decor7{
  content: "";
  position: absolute; z-index: -1;
  width: 750px; height: 584px;
  background: url("#{$img-path}/decor-sp4.svg") no-repeat 0 0/contain;
  left: 0;
}

@mixin decor8{
  content: "";
  position: absolute; z-index: -1;
  width: 1092px; height: 1099px;
  background: url("#{$img-path}/decor-h4.svg") no-repeat 0 0/contain;
}

@mixin decor9{
  content: "";
  position: absolute; z-index: -1;
  width: 841px; height: 1099px;
  background: url("#{$img-path}/decor-h5.svg") no-repeat 0 0/contain;
  right: 0;
}

@mixin landing{
  content: "";
  width: 100%;
  position: absolute; right: 0;
  z-index: -1;
}

@mixin slickarrow{
  width: 40px; height: 40px;
  background: #fff url("#{$img-path}/arr-r.svg") no-repeat center center;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
  position: absolute; top: 50%; transform: translateY(-50%);
}

@mixin btn{
  width: 350px; height: 48px; max-width: 100%; font-size: 16px; line-height: 24px;
}
@mixin bg-m{
  content: "";
  width: calc(100% + 32px); height: 100%;
  position: absolute; left: -16px; top: 0;
}
@mixin age{
  margin-top: 0;
  padding: 2px 8px;
  border-radius: 9999px;
  background: rgba(78, 76, 80, 0.35);
  color: #fff;
  position: absolute;
  top: 12px;
  left: 12px;
}
@mixin icon-view{
  width: 17px; height: 17px; margin-right: 6px; background: url("#{$img-path}/icon-view.svg") no-repeat left center;
}

@font-face {
  font-family: monkeyheader;
  src: url("https://monkeymedia.vcdn.com.vn/upload/web/font_web/monkeyheader.otf");
}


// ---------- header --------- //
header{
  width: 100%;
  background: #fff;
  position: fixed; top: 0;
  z-index: 99;
  &.scroll{
    position: fixed; top: 0;
    animation: moveheader .3s linear;
    backface-visibility: hidden;
    box-shadow: 0 1px 10px #9d9d9d;
    .topheader{display: none;}
    .topheader.show{display: flex !important;}
    .navbar{padding: 0 15px;}
    .logo{width: 120px;}
    .navbar-nav{
      .sub-menu{top: vw(61px);}
      > li > a{line-height: 60px;}
    }
  }
  .topheader{
    background: var(--gray);
    height: 40px;
    align-items: center;
    background: var(--gray);
    a{font-size: 12px; line-height: 18px; color: #4E4C50;}
  }
  .logo{width: 128px;}
  .btn_register{
    width: 120px; height: 40px;
    margin-right: 24px;
    border: 1px solid #EE202E;
    border-radius: 6px;
    font-weight: 600;
    color: var(--red);
    &:hover{
      background: var(--red);
      color: #fff;
      border: none;
    }
  }
  .btn_search{
    width: 20px; height: 20px;
    margin: 0 24px 0 95px;
    background: url("#{$img-path}/search.svg") no-repeat 0 0/contain;
    display: block; font-size: 0;
  }
  .btn_register_m,.btn_register--1{display: none;}
  .box-search{
    width: 100%; display: none;
    max-width: 710px;
    position: absolute;
    right: 252px;
    z-index: 2; overflow: hidden;
    &.active{display: block;}
    /*margin-top: 32px;*/
    input{
      width: 100%; height: 40px;
      padding: 0 16px 0 42px;
      background: #F7F7F7 url("#{$img-path}/icon-search.svg") no-repeat 16px center;
      border-radius: 6px;
      border: none
    }
    .close{
      width: 16px; height: 16px; display: block;
      background: url("#{$img-path}/close1.svg") no-repeat;
      position: absolute; right: 12px; top: 12px;
    }
  }
}
.navbar-toggler{display: none;}
.navbar{
  width: 100%;
  box-shadow: inset 0px -1px 0px rgba(174, 174, 174, 0.25);
  margin: 0 auto;
  align-items: center;
  padding: 0 15px;
  transition: .5s;
  z-index: 99;
  .close{
    display: none;
    width: 20px; height: 20px;
    position: absolute; top: 15px; right: 15px;
    opacity: 1;
  }
  .close:hover{color: #fff !important;}
  img{max-width: 100%;}
}
.navbar-nav{
  margin-left: auto;
  > li:nth-child(2){position: initial;}
  > li{position: relative;}
  > li > a{
    display: block;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark);
    text-transform: capitalize;
    line-height: 20px;
    position: relative;
    &::after{
      content: "";
      width: 48px; height: 2px; background: var(--red);
      display: none;
      position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
    }
  }
  > li:hover > a{
    color: #EE202E;
    font-weight: 500;
    &::after{display: block;}
  }
  > li > a.active{color: #EE202E;}
  > li:hover .sub-menu{
    display: block;
    opacity: 1;
    visibility: visible;
    &.product{display: flex;}
  }
  span{position: relative; z-index: 2;}
  .sub-menu{
    width: 314px;
    padding: 24px;
    display: none;
    background: #fff;
    box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    transition: .2s linear;
    &.product{
      width: 1110px; left: 0;
    }
    >*+*{margin-top: 4px;}
    .icon{width: 44px; margin-right: 12px;}
    li a{
      display: flex; align-items: center;
      padding: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      &:hover{
        background: #f9f9f9;
        border-radius: 8px;
        color: var(--red);
        font-weight: 400;
      }
    }
  }
  .product{
    >*+*{margin-top: 0;}
    li{width: 20%; text-align: center;}
    li a{display: block; min-height: 242px; padding: 24px; font-weight: 600; border-radius: 6px;}
    li img{display: block; width: 140px; margin: 0 auto;}
    li a:hover{
      font-weight: 600;
      color: var(--red);
      span{color: var(--red);}
    }
    li:nth-child(1) a:hover{background: #fff4f5;}
    li:nth-child(2) a:hover{background: #f4faed;}
    li:nth-child(3) a:hover{background: #ecf8fa;}
    li:nth-child(4) a:hover{background: #fef9f1;}
    li:nth-child(4) a:hover{background: #f5f2f8;}
    span{display: block; margin-top: 16px; color: var(--dark);}
  }
  .show-menu{display: none;}
}
h1{margin: 0; display: inline-block;}


//main
main{padding-top: 100px;}
.language{
  margin-right: -96px;
  img{width: 20px; margin-right: 8px;}
  button,a{display: flex; align-items: center; font-weight: 500; line-height: 15px;}
  .dropdown-toggle::after{
   // width: 11px; height: 6px; display: block;
   // background: url("#{$img-path}/arr.svg") no-repeat 0 0/contain;
    margin-left: 10px;
    //border: none;
  }
  .dropdown-menu{
    border: none;
    min-width: 12rem;
    box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
    top: 35px; left: -10px; padding: 5px 0;
    a{padding: 10px;}
  }
}
.monkey-advise{
  min-height: 462px;
  padding: 20px 0;
  background:#F7F7F7 url("#{$img-path}/bg-ad.svg") no-repeat center center/contain;
  /*box-shadow: inset 0px 1px 0px rgba(197, 197, 197, 0.25);*/
  .advise{
    &__content{width: 100%; max-width: 540px; margin-right: 138px;}
    p{margin-bottom: 40px; font-size: 22px; line-height: 34px; font-weight: 700;}
    label{@include text2; margin-bottom: 16px;}
    .form-group{margin-bottom: 24px;}
    input,.btn_submit{width: 100%; height: 48px;}
    input{
      padding: 0 16px;
      background: #FFFFFF;
      border: 1px solid #E9E9E9;
      border-radius: 6px;
      color: #B8B7B9;
      font-weight: 500;
      &::placeholder{color: #B8B7B9;}
      &:focus{outline: none;}
    }
    .btn_submit{
      @include text2;
      background: var(--red);
      border-radius: 6px;
      font-weight: 500;
      color: #fff;
      &:hover{background: var(--hover);}
    }
  }
}
.box-fix-right{
  position: fixed; right: -6px; top: 50%; transform: translateX(-50%); z-index: 9;
  a{
    width: 56px; height: 56px; display: block; margin: 7px 0;
    box-shadow: 6px 6px 24px rgba(145, 145, 145, 0.16);
    border-radius: 50%; position: relative;
  }
  .cart{
    background: #fff url("#{$img-path}/icon-cart.svg") no-repeat center center;
   span{
     width: 13px; height: 13px;
     background: var(--red);
     font-weight: 600;
     font-size: 8px;
     text-align: center;
     line-height: 12px;
     color: #fff;
     border-radius: 50%;
     border: .5px solid #fff;
     position: absolute; top: 14px; left: 32px;
   }
  }
  .call{background: #fff url("#{$img-path}/phone.svg") no-repeat center center;}
}


//monkey junior
.monkey-landing{
  width: 100%;
  &.junior{
    .intro{
      max-width: 445px;
      margin-right: 45px;
      position: relative;
    }
    .monkey-landing--s1{
      padding: 74px 0 70px !important;
      background: url("#{$img-path}/bg-mj1.svg") no-repeat bottom center/cover;
      .video{
        width: 643px; margin-right: -25px;
        &__play{width: 64px;}
      }
    }
    .monkey-landing--s2{
      .title{max-width: 730px;}
      &::before{
       content: "";
        width: 922px;
        height: 605px;
        background: url("#{$img-path}/decor-mj1.svg") no-repeat 0 0/100%;
        right: 80px; top: 60px; position: absolute; z-index: -1;
      }
    }
    .monkey-landing--s3::before{
      @include landing;
      height: 945px;
      background: url("#{$img-path}/bg-pj3.svg") no-repeat 0 0/100% 100%;
      top: -60px;
    }
    .monkey-landing--s4{
      background: url("#{$img-path}/decor-mj2.svg") no-repeat 0 655px/100%
    }
    .monkey-landing--s5{padding-top: 35px; background: url("#{$img-path}/bg-pj4.svg") no-repeat 0 0/100% 100%;}
    .monkey-landing--s6::before,.monkey-landing--s8::before{
      @include landing; height: 1569px;
    }
    .monkey-landing--s6::before{top: 755px; background: url("#{$img-path}/decor-mj3.svg") no-repeat 0 0/100% 100%;}
    .monkey-landing--s7{
      /*background: linear-gradient(161.67deg, rgba(223, 240, 199, 0) 11.28%, #F8FCF3 81.57%);*/
      .video{
        &__thumb{border: 5px solid var(--green);}
      }
    }
    .monkey-landing--s8::before{top: -310px; background: url("#{$img-path}/decor-mj4.svg") no-repeat 0 0/100% 100%;}
    .monkey-landing--s9{
      background: linear-gradient(161.67deg, rgba(223, 240, 199, 0) 11.28%, #F8FCF3 81.57%);
    }
  }
  &.stories,&.math{
    .monkey-landing--s6{
      .title{max-width: 730px;}
      .program{
        &:nth-child(odd){
          .program__content{margin-right: 84px;}
        }
        &:nth-child(even){
          flex-direction: row-reverse;
        }
        &__img,&__video{max-width: 486px; width: initial; height: initial; background: none;}
      }
    }
  }
  &.stories{
    .intro{
      margin-right: 0; max-width: 540px;
      h1.title{max-width: 540px;}
    }
    .monkey-landing--s1{
      padding: 67px 0 31px;
      background: url("#{$img-path}/bg-ps1.svg") no-repeat 0 -100px/100% 100%;
      .video{
        width: 609px; margin: 0 -20px;
        &__play{top: 38%; left: 56%;}
      }
    }
    .monkey-landing--s2{
      &::before{
        content: "";
        width: 100%; height: 616px;
        background: url("#{$img-path}/bg-ps2.svg") no-repeat 0 0/100% 100%;
        position: absolute; left: 0; top: 0px; z-index: -1;
      }
      .top-list{
        li{width: 33.33%; padding: 15px 35px;}
        p{max-width: 255px; margin: 0 auto; color: var(--gray1);}
        .icon-top1{background: url("#{$img-path}/icon-top1.svg") no-repeat 0 0/contain;}
      }
    }
    .monkey-landing--s3{
      .title{max-width: 761px;}
      .register{margin-top: 80px;}
    }
    .monkey-landing--s4{
      background: url("#{$img-path}/bg-ps4.svg") no-repeat 0 -20px/100%;
      &::after{
        @include landing;
        background: url("#{$img-path}/bg-ps4.svg") no-repeat 0 -20px/100% 100%;
        height: 962px; bottom: -50px;
      }
      .title{max-width: 680px; margin-bottom: 60px;}
      .img-wrapper,.register{max-width: 507px; margin-left: auto;}
      .register{margin-top: 24px;}
    }
    .monkey-landing--s5{
      background: url("#{$img-path}/bg-ps5.svg") no-repeat 0 0/100% 100%;
    }
    .monkey-landing--s6{
      &::before,&::after{
        @include landing;
        background: url("#{$img-path}/decor-ms1.svg") no-repeat 0 -20px/100% 100%;
        height: 962px;
      }
      &::before{top: 770px;}
      &::after{bottom: 130px;}
      .program{
        p{background: url("#{$img-path}/checkmark2.svg") no-repeat left 6px;}
      }
    }
    .monkey-landing--s7{
      .title{max-width: 750px;}
      .feedback{
        .video{
          margin-top: 0;
          max-width: 540px;
          &::after{background: var(--blue);}
        }
      }
      .video{
        &__thumb{border: 5px solid var(--blue);}
      }
    }
    .monkey-landing--s8::before{
      @include landing; height: 1569px;
      top: -365px; background: url("#{$img-path}/decor-ms2.svg") no-repeat 0 0/100% 100%;
    }
    .monkey-landing--s9{background: url("#{$img-path}/decor-ms3.svg") no-repeat 0 0/100% 100%;}
    .feedback{
      .author{
        &__img{border: 1px solid #00C2F3;}
      }
      .text::before{background: url("#{$img-path}/quote5.svg") no-repeat 0 0/contain;}
    }
    .table-price{
      &.seller{
        border-color: var(--blue);
        &::before{background: var(--blue);}
      }
    }
  }
  &.math{
    .intro{
      .title span{display: block;}
    }
    .monkey-landing--s1{
      padding: 62px 0;
      background: url("#{$img-path}/bg-pm1.svg") no-repeat top center/100% 100%;
      .intro{width: 100%; max-width: 540px; padding-top: 50px; margin-right: 0;}
      .video{
        max-width: 609px; margin: 0 -20px;
        &__play{top: 40%; left: 56%;}
      }
    }
    .top-list{
      li{width: 33.33%; min-height: 140px; padding: 0 35px;}
      p{color: var(--gray1); max-width: 255px; margin: 0 auto;}
      .icon-earth{background: url("#{$img-path}/icon-earth1.svg") no-repeat 0 0/contain;}
    }
    .monkey-landing--s2{
      .title{max-width: 740px;}
      &::before{
        content: "";
        width: 100%; height: 616px;
        background: url("#{$img-path}/bg-pm2.svg") no-repeat 0 0/100% 100%;
        position: absolute; left: 0; top: -10px; z-index: -1;
      }
    }
    .monkey-landing--s3{
      &::before{
        content: "";
        width: 100%; height: 940px;
        background: url("#{$img-path}/bg-pm3.svg") no-repeat 0 45px/100% 100%;
        position: absolute; left: 0; top: -50px; z-index: -1;
      }
      .title{margin-bottom: 63px;}
      .row > div:nth-child(odd) .benefit{margin-top: 73px;}
      .register{margin-top: 64px;}
    }
    .monkey-landing--s4{
      &::before{
        @include landing; height: 1624px;
        background: url("#{$img-path}/decor-mt1.svg") no-repeat 0 0/100% 100%;
        top: 425px;
      }
      .title{max-width: 730px;}
    }
    .convenient{
      max-width: 745px; margin: 72px auto 0;
      h4{margin-bottom: 0;}
    }
    .monkey-landing--s5{}
    .monkey-landing--s6{
      &::after,&::before{
        content: "";
        position: absolute; left: 0;
        width: 100%; height: 877px; z-index: -1;
      }
      &::before{background: url("#{$img-path}/decor-mm2.svg") no-repeat 0 0/100% 100%; top: 420px;}
      &::after{background: url("#{$img-path}/decor-mm1.svg") no-repeat 0 0/100%; bottom: -80px;}
      .program{
        p{background: url("#{$img-path}/checkmark3.svg") no-repeat left 6px;}
        &--3 h4{max-width: 95%;}
      }
    }
    .monkey-landing--s7{
      .feedback{
        margin-top: 0;
        .video{
          margin-top: 0;
          max-width: 540px;
          &::after{background: var(--orange);}
        }
      }
      .video{
        &__thumb{border: 5px solid var(--orange);}
      }
    }
    .monkey-landing--s8::before{
      @include landing; height: 1569px;
      top: -60px; background: url("#{$img-path}/decor-mt2.svg") no-repeat 0 0/100% 100%;
    }
    .monkey-landing--s9{background: url("#{$img-path}/decor-mt3.svg") no-repeat 0 0/100% 100%;}
    .feedback{
      .author{
        &__img{border: 1px solid var(--orange);}
      }
      .text::before{background: url("#{$img-path}/quote3.svg") no-repeat 0 0/contain;}
    }
    .table-price{
      &.seller{
        border-color: var(--orange);
        &::before{background: var(--orange);}
      }
    }
  }
  &.vmonkey{
    h1.title span{display: inline-block;}
    .top-list{
      justify-content: center;
      li{width: 33.3%; padding: 0 35px; margin-bottom: 60px;}
      p{color: var(--gray1); max-width: 255px; margin: 0 auto;}
    }
    .monkey-landing--s1{
      padding: 90px 0 80px;
      background: url("#{$img-path}/bg-pv1.svg") no-repeat bottom center/100%;
      .intro{
        max-width: 540px;
        .title{max-width: 100%;}
      }
      .video{
        max-width: 609px; margin: 0 -20px;
        &__play{top: 47%; left: 58%;}
      }
    }
    .monkey-landing--s2{
      .register{margin-top: 0;}
      &::before{
        content: "";
        width: 100%; height: 800px;
        background: url("#{$img-path}/bg-pv2.svg") no-repeat 0 0/100% 100%;
        position: absolute; left: 0; top: 0; z-index: -1;
      }
    }
    .monkey-landing--s3{
      h2.title{max-width: 730px; margin-bottom: 135px;}
      .register{margin-top: 64px;}
    }
    .monkey-landing--s4{
      .header{
        max-width: 745px; margin: 0 auto 40px; text-align: center;
      }
      .register{margin-top: 40px;}
      &::after{
        @include landing;
        height: 781px;
        background: url("#{$img-path}/decor-mv1.svg") no-repeat 0 0/100% 100%;
        top: 670px;
        z-index: -2;
      }
    }
    .monkey-landing--s5{
      background: linear-gradient(161.67deg, rgba(244, 238, 249, 0) 11.28%, #F4EEF9 46.97%, rgba(244, 238, 249, 0) 81.57%);
      h2.title{
        max-width: 790px;
        span{color: var(--violet);}
      }
    }
    .monkey-landing--s6{
      h2.title{max-width: 730px;}
      .program{
        p{background: url("#{$img-path}/checkmark4.svg") no-repeat left 6px;}
      }
      .register{margin-top: 98px;}
      &::after,&::before{
        content: "";
        position: absolute; left: 0;
        width: 100%; height: 781px; z-index: -1;
      }
      &::before{background: url("#{$img-path}/decor-mv1.svg") no-repeat 0 0/100% 100%; top: -40px;}
      &::after{background: url("#{$img-path}/decor-mv4.svg") no-repeat 0 0/100%; bottom: -80px;}
    }
    .monkey-landing--s7{
      .feedback{
        margin-top: 0;
        .video{
          margin-top: 0;
          max-width: 540px;
          &::after{background: var(--violet);}
        }
      }
      .video{
        &__thumb{border: 5px solid var(--violet);}
      }
    }
    .monkey-landing--s8::before{
      @include landing; height: 950px;
      top: -110px; background: url("#{$img-path}/decor-mv2.svg") no-repeat 0 0/100% 100%;
    }
    .monkey-landing--s9{background: url("#{$img-path}/decor-mv3.svg") no-repeat 0 0/100% 100%;}
    .feedback{
      .author{
        &__img{border: 1px solid var(--violet);}
      }
      .text::before{background: url("#{$img-path}/quote4.svg") no-repeat 0 0/contain;}
    }
    .method{
      p{padding-left: 24px; position: relative;}
      p::before{
        content: "";
        width: 3px; height: 3px; border-radius: 50%;
        background: #69676A;
        position: absolute; left: 10px; top: 10px;
      }
    }
    .program{
      &__thumb{max-width: 486px;}
      &:nth-child(odd){
        flex-direction: row-reverse;
        .program__content{margin: 0 0 0 84px;}
      }
      &:nth-child(even){
        flex-direction: row;
        .program__content{margin: 0 84px 0 0;}
      }
    }
    .method-list::after{
      content: "";
      width: 84px; height: 97px;
      background: url("#{$img-path}/arr-v.svg") no-repeat 0 0/contain;
      position: absolute; left: 56px; bottom: -142px;
    }
    .table-price{
      p{background: url("#{$img-path}/checkmark4.svg") no-repeat left 4px;}
      &.seller{
        border-color: var(--violet);
        &::before{background: var(--violet);}
      }
    }
  }
  .form-register{
    max-width: 445px; margin-top: 48px;
    .form-row{
      margin: 0;
      > *+*{margin-left: 16px;}
    }
    input{
      min-width: 214px;
      padding: 0 16px;
      background: #FFFFFF;
      border: 1px solid #D3D2D3;
      border-radius: 6px;
      height: 40px;
      font-weight: 500;
      &::placeholder{color: #B8B7B9;}
    }
    .btn-submit{
      width: 100%; height: 48px;
      background: #EE202E;
      border-radius: 6px;
      font-weight: 600;
      font-size: 16px;
      color: #fff;
    }
  }
  .register{
    margin-top: 48px;
    .btn_register{width: 240px; height: 48px; margin-right: 24px;}
    p,a{@include text2;}
    p a{color: var(--red); border-bottom: 1px solid var(--red);}
  }
  .intro{
    max-width: 503px;
    p,a{@include text3; font-weight: 500;}
    .title,p{max-width: 445px;}
  }
  .logo{width: 88px; height: 88px; margin-bottom: 8px; background: #fff; border-radius: 8px;}
  h1.title{
     margin-bottom: 25px; font-size: 60px; line-height: 60px; text-transform: capitalize;
    span{display: block;}
    .green{color: var(--green);}
    .blue{color: var(--blue);}
    .orange{color: var(--orange);}
    .violet{color: var(--violet);}
  }
  .top-list{
    margin-top: 55px;
    /*>*+*{border-left: 1px solid #E9E9E9;}*/
    li{width: 25%; padding: 4px 20px; text-align: center;}
    h4{
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #4E4C50;
      text-transform: uppercase;
    }
    p{@include text2;}
    .icon{
      margin: 0 auto 32px; display: block; width: 48px; height: 48px;
      img{width: 100%;}
    }
    .icon-top1{background: url("#{$img-path}/icon-t1.svg") no-repeat 0 0/contain;}
    .icon-top2{background: url("#{$img-path}/icon-t2.svg") no-repeat 0 0/contain;}
    .icon-top3{background: url("#{$img-path}/icon-t3.svg") no-repeat 0 0/contain;}
    .icon-top4{background: url("#{$img-path}/icon-t4.svg") no-repeat 0 0/contain;}
    .icon-apple{margin-top: 2px; background: url("#{$img-path}/icon-store.svg") no-repeat 0 0/contain;}
    .icon-apple1{margin-top: 2px; background: url("#{$img-path}/icon-store1.svg") no-repeat 0 0/contain;}
    .icon-earth{background: url("#{$img-path}/icon-earth.svg") no-repeat 0 0/contain;}
    .icon-group{background: url("#{$img-path}/icon-group.svg") no-repeat 0 0/contain;}
    .icon-cup{background: url("#{$img-path}/icon-cup1.svg") no-repeat 0 0/contain;}
  }
  .method-list{max-width: 966px; margin: 140px auto 0;}
  .method{
    margin-bottom: 150px;
    align-items: center;
    &:last-child{margin-bottom: 0;}
    &:nth-child(odd){
      .method__img{margin-right: 95px;}
    }
    &:nth-child(even){
      flex-direction: row-reverse;
      .method__img{margin-left: 95px;}
    }
    &__img{width: 477px; filter: drop-shadow(1px 4px 24px rgba(209, 209, 209, 0.25));}
    &__content{
      max-width: 350px;
      .btn_register{width: 240px; height: 48px; margin-top: 24px;}
    }
    h4{margin-bottom: 16px; font-size: 22px; line-height: 34px; font-weight: 700;}
    p{@include text2; max-width: 350px;}
  }
  .convenient{
    margin-top: 72px;
    justify-content: space-between;
    li{width: 100%; max-width: 285px; margin-bottom: 40px;}
    .icon{width: 56px; margin: 0 0 40px;}
    h4{@include text2; font-weight: 700; margin-bottom: 8px;}
    p{font-size: 16px; line-height: 24px; color: var(--gray1);}
  }
  .program{
    margin: 160px 0;
    &:nth-child(1){margin-top: 135px;}
    &:last-child{margin-bottom: 0px;}
    &:nth-child(even){
      flex-direction: row-reverse;
      .program__content{margin: 0 0 0 84px;}
    }
    &__img{
      width: 300px; height: 300px;
      background: #F4F9EB;
      border-radius: 50%;
    }
    &__content{
      max-width: 540px;
      margin-right: 84px;
      padding: 24px;
      background: #FFFFFF;
      box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
      border-radius: 15px;
      .btn_register{width: 100%; height: 48px; margin-top: 44px;}
    }
    h4,p{max-width: 492px;}
    h4{margin-bottom: 16px; font-size: 20px; line-height: 30px; font-weight: 700; color: #4E4C50;}
    p{padding: 8px 0 8px 32px; font-size: 16px; line-height: 24px; background: url("#{$img-path}/checkmark.svg") no-repeat left 8px;}
    p:last-child{padding-bottom: 0;}
  }
  .feedback{
    margin-top: 65px;
    align-items: center;
    justify-content: space-between;
    &__content{
      max-width: 445px;
      padding: 24px;
      background: #FFFFFF;
      box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
      border-radius: 8px;
      .btn_register{width: 100%; height: 48px; margin-top: 32px;}
    }
    &__video{
      max-width: 540px;
      p{margin-top: 25px; font-size: 16px; line-height: 24px; text-align: center; color: #000;}
    }
    .text{
      margin-bottom: 32px; font-size: 16px; line-height: 24px;
      &::before{
        content: "";
        width: 30px; height: 21px;
        background: url("#{$img-path}/quote2.svg") no-repeat 0 0/contain;
        display: block; margin-bottom: 8px;
      }
    }
    .author{
      align-items: flex-start;
      &__img{width: 48px; border: 1px solid var(--green); border-radius: 50%;}
      &__content{width: calc(100% - 48px); padding-left: 12px;}
      h4{@include text2; margin-bottom: 4px; text-transform: capitalize; font-weight: 700;}
      p{font-size: 12px; line-height: 18px;}
    }
    .video{
      &::after{
        content: "";
        background: #92C83E;
        border-radius: 8px;
        width: 100%; height: 100%;
        position: absolute; top: 12px; left: 12px;
      }
    }
  }
  .skill{
    margin-top: 70px;
    &__list{
      justify-content: space-between;
      .content{text-align: right;}
      li{display: flex; flex-direction: column;}
      li:nth-child(odd){
        margin-right: 458px;
        align-items: flex-end;
        p{text-align: right;}
      }
      li:nth-child(even){
        align-items: flex-start;
        p{text-align: left;}
        .content{text-align: left;}
      }
      li:nth-child(1),li:nth-child(2){margin-bottom: 154px;}
    }
    &__round{
      width: 378px; height: 378px;
      background: url("#{$img-path}/bg-round.svg") no-repeat 0 0/contain;
      flex-direction: column;
      color: #fff;
      position: absolute; left: 50%; transform: translateX(-50%); top: 60px;
      h5{margin-bottom: 16px; font-size: 22px; line-height: 34px; font-weight: 700;}
      p{@include text2; max-width: 250px; margin: 0 auto; text-align: center;}
    }
    li{max-width: 297px;}
    .icon{margin-bottom: 16px;}
    h4{margin-bottom: 16px; font-size: 28px; line-height: 40px; font-weight: 700;}
    p{@include text2;}
  }
  .method-study{
    >*+*{margin-top: 32px;}
    li{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 17px 24px;
      min-height: 128px;
      background: #fff;
      box-shadow: 5px 5px 120px rgba(193, 193, 193, 0.15);
      border-radius: 8px;
      position: relative;
      &::before{
        content: "";
        width: 6px; height: 100%;
        background: #00C2F3;
        border-radius: 8px 0px 0px 8px;
        position: absolute; top: 0; left: 0;
      }
    }
    h4{margin-bottom: 8px; font-size: 20px; line-height: 30px; font-weight: 700;}
    p{@include text2; color: var(--gray1);}
    .icon{width: 64px;}
    .content{width: calc(100% - 64px); padding-left: 24px;}
  }
  .benefit{
    &__img{margin-bottom: 24px; border-radius: 8px; height: 300px; overflow: hidden;}
    &__content{@include text2; text-align: center; font-weight: 600;}
  }
  .method-vmonkey{
    height: 100%;
    padding: 96px 20px 40px;
    position: relative;
    overflow: initial;
    text-align: center;
    .icon{
      width: 160px; height: 160px;
      border-radius: 50%;
      background: #663595;
      box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
      position: absolute; left: 50%; transform: translateX(-50%); top: -80px;
    }
    h4{margin-bottom: 24px; font-size: 20px; line-height: 30px; min-height: 60px; font-weight: 700;}
    p{@include text3;}
  }
  .vmonkey-study{
    max-width: 730px;
    &::after{
      content: "";
      width: 489px; height: 583px;
      background: url("#{$img-path}/monkey4.png") no-repeat 0 0/contain;
      position: absolute; top: 0; right: -380px; z-index: -1;
    }
    >*+*{margin-top: 40px;}
    li{
      display: flex;
      align-items: center;
      padding: 32px 32px 32px 40px;
      background: #FFFFFF;
      box-shadow: 5px 5px 120px rgba(193, 193, 193, 0.15);
      border-radius: 8px;
    }
    .icon{width: 120px;}
    .content{width: calc(100% - 120px); padding-left: 38px;}
    h4{margin-bottom: 16px; font-size: 20px; line-height: 30px; font-weight: 700;}
    p{@include text2; color: var(--gray1); padding-left: 25px; position: relative;}
    p::before{
      content: "";
      width: 3px; height: 3px; background: var(--gray1);
      border-radius: 50%;
      position: absolute; left: 10px; top: 10px;
    }
  }
  .table-price{
    margin-top: 64px;
    padding: 64px 24px 24px;
    background: #FFFFFF;
    box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
    border-radius: 15px;
    &.seller{
      border: 3px solid #9DD249;
      &::before{
        content: "Best Seller";
        width: 110px; height: 40px;
        background: #92C83E;
        border-radius: 9999px;
        font-weight: 700;
        color: #fff;
        text-align: center; line-height: 40px;
        position: absolute; top: -20px; right: 24px;
      }
    }
    .year{
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 24px;
      color: #4E4C50;
    }
    .price{
      margin-bottom: 47px;
      &__new{
        margin-bottom: 3px;
        font-weight: 700;
        font-size: 45px;
        color: #4E4C50;
        line-height: 1;
      }
      &__old{
        font-size: 24px;
        .old{text-decoration: line-through; color: #838285;}
        span{margin-left: 8px; font-weight: 600; color: #EE202E; text-decoration: none;}
      }
    }
    h4{
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #4E4C50;
    }
    p{
      margin-bottom: 16px;
      padding-left: 32px;
      background: url("#{$img-path}/checkmark.svg") no-repeat left 4px;
      font-size: 16px;
      line-height: 24px;
      color: #4E4C50;
    }
    .btn_register{
      height: 48px; margin-top: 45px;
    }
  }
  .box-sale{
    justify-content: center;
    align-items: center;
    h4{
      max-width: 445px;
      font: 44px/52px var(--monkeyheader);
      text-transform: capitalize;
    }
    .box-register{
      width: 100%;
      max-width: 445px;
      margin-left: 30px;
      padding: 24px;
      text-align: center;
      h5{
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      .down{width: 25%; position: relative;}
      .time{display: block; font-size: 40px; font-weight: 700; line-height: 1;}
      .text{color: #B8B7B9; font-weight: 500; font-size: 18px;}
    }
    form{
      margin-top: 32px;
      .form-group{margin-bottom: 16px;}
      input{
        width: 100%; height: 40px;
        background: #FFFFFF;
        padding: 0 16px;
        border: 1px solid #D3D2D3;
        border-radius: 6px;
        font-weight: 500;
        &::placeholder{color: #B8B7B9;}
      }
      .btn-submit{width: 100%; height: 48px;}
    }
  }
  .count_down{
    justify-content: center;
    >*+*::before{
      content: "";
      width: 1px; height: 28px;
      background: #E9E9E9;
      position: absolute; left: 0; top: 5px;
    }
  }
  .download{
    margin-top: 32px;
    justify-content: space-between;
    a{display: block; max-width: 48%;}
    p{margin-top: 8px;}
  }
   > div{
    padding: 75px 0 90px;
    h2.title{margin: 0 auto;  text-transform: capitalize; text-align: center;}
  }
  &--s1{
    align-items: flex-end;
    .intro{margin-bottom: 15px;}
    .video{
      &__thumb,&__play{z-index: 2;}
    }
  }
  &--s2{
    .title{max-width: 770px; }
  }
  &--s3{
    .title{max-width: 582px;}
    .item{
      &__img{margin-bottom: 24px;}
      &__content{padding: 0 0 24px; min-height: 172px; text-align: center;}
      h4{@include text2; margin-bottom: 12px; font-weight: 700;}
      p{font-size: 16px; line-height: 24px; color: var(--gray1);}
    }
    .row-s3{margin-top: 55px;}
    .register{margin-top: 40px;}
  }
  &--s4{
    .header{
      margin-bottom: 64px;
      p{margin-top: 25px;}
    }
  }
  &--s5{
    .title{max-width: 730px;}
    .register{margin-top: 35px;}
  }
  &--s6{
    .title{max-width: 790px;}
  }
  &--s7{
    .title{max-width: 750px;}
    .register{margin-top: 72px;}
    .video{
      &__thumb{border-radius: 8px;}
      img{border-radius: 4px;}
    }
  }
  &--s8{
    .title{max-width: 730px;}
  }
}


//modal
.modal::-webkit-scrollbar{width: 0;}
.monkey-modal-video{
  .modal-dialog{max-width: 80vw; margin: 2rem auto;}
  .close{
    padding: 2px 5px;
    background: var(--red);
    color: #fff;
    font-weight: 400;
    position: absolute; top: 0; right: 0;
  }
  .modal-content{
    width: 100%; height: 40vw;
    background: #000;
    border-radius: 0;
    iframe{width: 100%; height: 100%;}
  }
}
.modal-register{
  .modal-dialog{max-width: 745px;}
  .modal-content{
    padding: 40px;
    border-radius: 8px;
    overflow: hidden;
    border-top: 8px solid var(--red);
    position: relative;
  }
  .img-decor{
    position: absolute;
    &--1{width: 269px; top: -4px; left: -30px;}
    &--2{width: 241px; top: 122px; left: 37px;}
  }
  h5{@include text3; margin-bottom: 24px; max-width: 412px; margin-left: auto; font-weight: 700;}
  .close{
    width: 18px; height: 18px;
    background: url("#{$img-path}/close.svg") no-repeat 0 0/contain;
    font-size: 0;
    position: absolute; right: 14px; top: 18px;
  }
  form{
    width: 100%;
    max-width: 412px;
    margin-left: auto;
    .form-group{margin-bottom: 16px; position: relative;}
    .form-row{
      margin: 0;
      justify-content: space-between;
      .form-group{width: calc(50% - 8px);}
    }

    input{
      width: 100%; height: 40px;
      padding: 0 16px;
      border: 1px solid #D3D2D3;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      color: var(--dark);
      line-height: 20px;
      &::placeholder{color: #B8B7B9; font-weight: 500;}
    }
    .btn_submit{
      height: 48px; width: 100%;
    }
  }
  .bootstrap-datetimepicker-widget{margin: -230px 0 0 0;}
  .icon{width: 16px; height: 16px; position: absolute; right: 12px; top: 12px;}
  .icon-date{background: url("#{$img-path}/icon-calendar1.svg") no-repeat;}
  .icon-time{background: url("#{$img-path}/icon-time.svg") no-repeat;}
}
.modal-register-success{
  .modal-dialog{max-width: 745px;}
  .modal-content{
    width: 100%;
    padding-bottom: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    border-top: 8px solid var(--red);
  }
  .img-wrapper{width: 232px; margin: 0 auto 26px;}
  .text{
    max-width: 469px; margin: 0 auto 30px;
    font-size: 18px; line-height: 28px; text-align: center;
  }
  .btn-finish{
    width: 90%; max-width: 412px; height: 48px;
    margin: 0 auto;
    border-radius: 6px;
    background: var(--red);
    color: #fff;
    font-weight: 600;
    &:hover{background: var(--hover);}
  }
  .close{width: 20px; height: 20px; position: absolute; top: 16px; right: 16px; font-size: 0; opacity: 1;}
}


//footer
footer{
  background: #2A292C;
  .info{
    padding: 60px 0;
    border-bottom: 1px solid #4E4C50;
    color: #fff;
    h2{margin-bottom: 22px; font-weight: 500; font-size: 16px; line-height: 24px;}
    .col-left{width: 225px;}
    .col-right{
      width: calc(100% - 225px); padding-left: 60px;
      >*+*{margin-top: 8px; }
      p{font-size: 12px; color: #B8B7B9; line-height: 18px;}
    }
    .hotline{
      a{font-size: 16px; font-weight: 700; line-height: 24px; color: #fff;}
    }
    .icon-phone{width: 18px; height: 18px; margin: 2px 9px 0 0;}
  }
  .icon-phone{background: url("#{$img-path}/icon-phone.svg") no-repeat 0 0/contain;}
  .logo-white{width: 190px; margin: 42px auto;}
  .language{
    width: auto;
    box-shadow: none;
    margin-right: 0;
    padding: 0;
    button,> a{color: #fff;}
    .dropdown-menu{top: -100px; left: 0;}
  }
  .middle{
    h3, h5, li a{line-height: 20px;}
    h3{margin-bottom: 24px; color: #fff; font-weight: 700; text-transform: uppercase;}
    h5{font-weight: 500; color: #fff;}
    li a{color: #B8B7B9; text-transform: capitalize;}
    .menu{
      >*+*{margin-top: 10px;}
    }
    .col{padding: 0; margin-right: 60px; flex-basis: inherit; flex-grow: inherit;}
    .col1{width: 181px;}
    .col2{width: 114px;}
    .col3{width: 146px;}
    .col4{width: 415px; margin: 0 0 0 74px;}
  }
  .service{
    margin-top: 44px;
    p{margin-bottom: 11px; font-weight: 500; color: #fff;}
    span{font-size: 12px; color: #B8B7B9; line-height: 18px;}
    .box-btn{
      margin-bottom: 20px;
      >*+*{margin-left: 18px;}
      a{
        display: flex;
        align-items: center;
        padding: 10px 14px;
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
      }
      .icon{margin-right: 9px; display: inline-block;}
      .icon-phone{width: 16px; height: 16px;}
      .icon-mail{width: 16px; height: 14px; background: url("#{$img-path}/icon-mail.svg") no-repeat 0 0/contain;}
    }
  }
  .social{
    margin-top: 32px;
    p{margin-bottom: 16px; font-weight: 500; color: #fff;}
    a{display: block; width: 44px; height: 44px; font-size: 0;}
    .facebook{margin-right: 24px; background: url("#{$img-path}/facebook.svg") no-repeat 0 0/contain;}
    .youtube{background: url("#{$img-path}/youtube.svg") no-repeat 0 0/contain;}
  }
  .bottom{
    margin-top: 55px;
    padding: 32px 0 50px;
    border-top: 1px solid #4E4C50;
  }
  .copyright{@include text1;}
  .fs-ftr-cthuong{
    width: 132px; height: 50px;
    margin-top: -50px;
    background: url("#{$img-path}/bocongthuong.png") no-repeat 0 0/contain;
    font-size: 0;
    position: absolute; right: 5px;
  }
}


//uikit
img{max-width: 100%;}
a{transition: .25s;}
a:hover{color: inherit;}
.pr{position: relative;}
.pdd-8{padding: 65px 0 80px;}
.mb-80{margin-bottom: 80px;}
.pd-80{padding: 80px 0;}
.mb-20{margin-bottom: 20px;}
.mb-40{margin-bottom: 40px;}
.ft{width: 100%; height: 100%; object-fit: cover;}
.icon{display: flex; align-items: center; justify-content: center;}
.bg-gray{background: #F9F9F9;}
.box-share{
  height: 32px; width: 98px; position: relative;
  iframe{opacity: 0.001; position: relative; z-index: 2;}
  .btn_share_fake{width: 98px; height: 32px; background: url("#{$img-path}/share.svg") no-repeat 0 0/contain; position: absolute; left: 0;}
}
.post{
  position: relative;
  &__thumb{
    display: block;
    img{width: 100%; height: 100%; object-fit: cover;}
  }
}
.bg-sh{
  background: #FFFFFF;
  box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
  border-radius: 8px;
  overflow: hidden;
}
.bg-sh1{
  background: #FFFFFF;
  box-shadow: 5px 5px 120px rgba(193, 193, 193, 0.15);
  border-radius: 8px;
}
.w-btn{width: 100%; height: 48px;}
input:focus{outline: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.icon-close,.close{background: url("#{$img-path}/close.svg") no-repeat 0 0/contain; opacity: 1;}
button{
  cursor: pointer; border: none; background: none; transition: .25s;
  &:focus{outline: none;}
}
.btn_viewall{
  @include text2;
  font-weight: 600;
  background: #FFFFFF;
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 6px;
  i{color: var(--red); margin-left: 17.5px;}
  &:hover{
    background: var(--red);
    color: #fff;
    i{color: #fff;}
  }
}
.btn_submit:hover{background: var(--red);}
.btn_pr{
  background: #EE202E;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  transition: .25s;
  i{margin-left: 17.5px; font-size: 13.5px;}
  &:hover{background: #d30d1a; color: #fff;}
}
.btn_sub{
  @include text2;
  background: #fff;
  border: 1px solid #EE202E;
  box-sizing: border-box;
  border-radius: 6px;
  color: var(--red);
  font-weight: 600;
  &:hover{
    border: none;
    background: var(--red);
    color: #fff;
  }
}
.thumb{width: 100%; height: 100%; object-fit: cover;}
.pr{position: relative;}
.tf1{
  font-size: 16px; line-height: 24px;
}
.tf2{font-weight: 500; font-size: 14px; line-height: 20px;}
.tf3{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--red);
}
.tf4{
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.line{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line3{
  -webkit-line-clamp: 3;
}
.line2{
  -webkit-line-clamp: 2;
}
.line4{
  -webkit-line-clamp: 4;
}
.header{
  max-width: 730px;
  margin: 0 auto 40px;
  text-align: center;
  .title{margin-bottom: 25px;}
  p{@include text2;}
}
h1.title{
  font: 64px var(--monkeyheader);
  line-height: 80px;
}
h2.title{
  color: var(--dark);
  font: 44px var(--monkeyheader);
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.video{
  &__thumb,&__play{z-index: 2;}
  position: relative;
  cursor: pointer;
  &:hover .video__play{transform: translate(-50%,-50%) scale(1.1);}
  &__play{@include center; transition: .25s;}
}
.flex-nowrad{display: flex; flex-wrap: nowrap;}
button{
  padding: 0;
  border: none;
  cursor: pointer;
  &:focus{outline: none;}
}
.slick-arrow{
  width: 40px; height: 40px;
  border: none; text-indent: -9999em;
  background: url("#{$img-path}/next.svg") no-repeat 0 0/contain;
   z-index: 2;
  &:focus{outline: none;}
}
.slick-next{transform: rotate(180deg);}
.slick-slide{
  a:focus{outline: none;}
}
.txt1{font-size: 18px; line-height: 28px;}


.breadcrumb{
  display: block;
  background: none;
  padding: 24px 0; margin: 0 auto;
  background: #fff; font-weight: 500; line-height: 20px;
  &-item{
    display: inline;
    &.active{color: #838285;}
  }
  a{font-weight: 500;}
  a:hover{color: var(--red);}

}

.breadcrumb-item + .breadcrumb-item::before{
  content: "";
  width: 10px; height: 10px;
  background: url("#{$img-path}/arr.svg") no-repeat 0 0/contain;
  padding-right: 0; margin-right: 5px;
  transform: rotate(-90deg);
}
.breadcrumb-item + .breadcrumb-item{padding-left: 8px;}
.slick-dots{
  display: flex;
  justify-content: center;
  li{margin: 0 8px; line-height: 0;}
  button{
    width: 8px; height: 8px;
    background: #E9E9E9;
    border-radius: 50%; font-size: 0;
  }
  .slick-active button{background: var(--red);}
}
.pagination{
  margin-top: 18px;
  align-items: center;
  justify-content: center;
  li{margin: 0 6px; }
  .page-link{
    display: flex; align-items: center; justify-content: center;
    padding: 0;
    width: 40px; height: 40px;
    background: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 50% !important;
    font-size: 16px; color: #838285; margin-left: 0;
    &:hover{color: var(--red);}
  }
  .active .page-link{background: #fff; color: var(--red); border: 1px solid var(--red); font-size: 14px;}
  .icon{
    width: 14px; height: 14px;
    background: url("#{$img-path}/arr-r.svg") no-repeat;
  }
  .icon-prev{transform: rotate(180deg);}
}
.pc-s{display: flex; flex-wrap: wrap;}
.m-s,.m-sf{display: none;}

//custom select2.min.js
.select2-container{
  width: 100% !important; border: none; background: #fff; border-radius: 6px;
  &:focus{outline: none;}
}
.selection,.select2-selection{
  &:focus{outline: none;}
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 16px;
  color: #4E4C50;
  font-weight: 500;
  font-size: 14px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-radius: 6px;}
.select2-container .select2-selection--single{height: 40px; width: 100%;}
.select2-container--default .select2-selection--single{border: 1px solid #D3D2D3; border-radius: 6px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 40px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 40px;}
.select2-search--dropdown{display: none;}
.select2-container--default .select2-results__option--selected{background: #e0e0e0 !important; color: var(--blue) !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background: none; color: #212121;}
.select2-container--default .select2-results__option:hover{background: #efefef; color: #212121;}
.select2-container--open .select2-dropdown--below{
  padding: 24px 16px;
  margin-top: 4px;
  background: #fff;
  box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
  border-radius: 8px;
  border: none;
}
.select2-container--default .select2-results > .select2-results__options{
  padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  width: 11px; height: 6px;
  background: url("#{$img-path}/arr.svg") no-repeat 0 0/contain;
  top: 50%; transform: translateY(-50%); left: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  transform: translateY(-50%) rotate(180deg);
}
.select2-container--default .select2-results>.select2-results__options{
  padding: 0; background: #fff; border-radius: 8px;
  >*+*{margin-top: 16px;}
  overflow: auto;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #fcfcfc;}
  &::-webkit-scrollbar-thumb{background: #ccc;}
}
.select2-results__option{
  padding: 0;
  font-weight: 400;
  font: 14px Montserrat, sans-serif;
  line-height: 20px;
  color: #4E4C50
}
.select2-container--default .select2-results__option[aria-selected=true]{background: none;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  padding-right: 18px;
  background: url("#{$img-path}/tick.svg") no-repeat right center;
  color: #4E4C50; text-shadow: .5px 0 0 currentColor;
}

//animated
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes moveheader {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}
