
@media (max-width: 1500px) {
  .monkey-landing{
    &.junior{
      .monkey-landing--s1{background: url("#{$img-path}/bg-pj1.svg") no-repeat 0 0/100%;}
      .monkey-landing--s3::before{background: url("#{$img-path}/bg-pj3.svg") no-repeat 0 0/100%;}
    }
    &.vmonkey{
      .monkey-landing--s1{background: url("#{$img-path}/bg-pv1.svg") no-repeat 0 -100px/100%;}
    }
  }
}

@media (max-width: 1366px) {
  .language{margin-right: 0;}
  header{
    .btn_search{margin-left: 15px;}
  }
}

@media (max-width: 1200px){
  header{
    .btn_register{width: 100px;}
  }
  .navbar-nav{
    > li > a{padding: 20px 12px;}
  }

  //monkey junior
  .monkey-landing{
    min-height: initial;
    margin-bottom: 0;
    .form-register{
      .form-row > * + * {margin-left: 0;}
      .form-group{width: 100%;}
      input{width: 100%; min-width: auto;}
    }
    &.junior{
      .intro{max-width: 50%; margin-right: 5%;}
      .monkey-landing--s1{
        .video{max-width: 45%;}
      }
    }
    &.stories,&.math{
      .monkey-landing--s6{
        .program{
          &:nth-child(even){flex-direction: column-reverse;}
          &:nth-child(odd) .program__content{margin-right: 0;}
        }
      }
    }
    &.stories{
      .intro{max-width: 50%; margin-right: 5%;}
      .monkey-landing--s1{
        .container{align-items: center;}
        .video{max-width: 45%; margin: 0;}
      }
      .monkey-landing--s2{
        .top-list li{padding: 15px;}
      }
      .monkey-landing--s4{
        .register{
          .btn_register{margin-right: 0;}
          p{margin: 5px 0;}
        }
      }
      .monkey-landing--s7{
        .feedback .video{max-width: 100%;}
      }
    }
    &.math{
      .top-list{
        li{padding: 0 15px;}
      }
      .monkey-landing--s1{
        .intro{margin-right: 5%;}
        .video{max-width: 45%;}
      }
    }
    &.vmonkey{
      .monkey-landing--s1{
        .intro{max-width: 50%; margin-right: 5%;}
        .video{max-width: 45%;}
      }
      .program{
        &:nth-child(odd){
          flex-direction: column-reverse;
          .program__content{margin: 0;}
        }
        &:nth-child(even){
          flex-direction: column-reverse;
          .program__content{margin: 0;}
        }
      }
    }
    &--s1{
      .video{max-width: 45%;}
      .register p{margin: 15px 0;}
    }
    .intro{max-width: 50%;}
    .top-list{
      li{width: 50%; margin-bottom: 32px;}
    }
    .program{
      flex-direction: column-reverse;
      &:nth-child(even){
        flex-direction: column-reverse;
        .program__content{margin: 0;}
      }
      &__content{max-width: 100%; margin-right: 0;}
      &__video{margin-bottom: 24px;}
    }
    .feedback{
      &__video{max-width: 45%;}
      &__content{max-width: 50%; margin-right: 5%;}
    }
    .skill{
      &__list{
        li:nth-child(odd){margin-right: 50%;}
      }
      &__round{width: 320px; height: 320px; top: 50%; transform: translate(-50%,-50%);}
      li{max-width: 25%;}
    }
    .vmonkey-study{
      max-width: 70%;
      &::after{width: 300px; height: 357px; right: -260px;}
    }
  }
  .monkey-advise{
    .advise{
      &__content{max-width: 50%; margin-right: 5%;}
      &__img{max-width: 45%;}
    }
  }
  //footer
  footer{
    .middle{
      .col4{width: 305px; margin: 0;}
    }
    .service{
      .box-btn{
        >*+*{margin: 16px 0 0;}
      }
    }
  }

  //uikit
  h2.title{font-size: 40px;}
}

@media (max-width: 1023px){
  header{
    .logo{width: 112px;}
    .btn_register_m{
      display: flex;
      align-items: center; justify-content: center;
      width: 78px; height: 28px;
      margin-right: 37px;
      border: 1px solid #EE202E;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: var(--red);
      text-align: center;
    }
    .btn_register--1{
      @include text2;
      width: calc(100% - 32px); height: 48px; display: flex;
      font-weight: 600;
      background: #EE202E;
      border-radius: 6px; color: #fff;
      position: absolute; margin-top: 40px;
    }
    .box-search{
      display: block;
      margin-top: 32px;
      max-width: 100%;
      position: relative; right: initial;
      .close{display: none;}
    }
  }
  .navbar-toggler{
    display: block !important;
    width: 18px;
    height: 14px;
    padding: 0; position: absolute;
    right: 0;
    top: 7px;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px;
      background: #2A292C; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #2A292C; position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 18px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar{
    padding: 6px 14px;
    .close{display: block;}
    .brand img{max-width: 175px;}
    &.scroll{
      padding: 12px 14px;
      .brand img{max-width: 175px;}
    }
    &.active{
      .navbar-collapse{left: 0;}
    }
    .close{display: block;}
  }
  .navbar-collapse{
    width: 100%;
    height: calc(100% - 0px);
    display: block;
    padding: 24px 16px 100px;
    background: #fff;
    position: fixed; left: -100%; top: 0;
    transition: left .2s linear;
    z-index: 999; overflow: auto;
    ul{overflow: auto;}
    .btn_register{}
    .language{margin: 32px 0 0 0;}
    .btn_search,.btn_register{display: none;}
    .close{
      width: 24px; height: 24px;
      background: url("#{$img-path}/close.svg");
      position: absolute; top: 26px; right: 16px; opacity: 1;
    }
  }
  .navbar-nav{
    margin-top: 20px;
    padding: 0;
    border-bottom: 1px solid #E9E9E9;
    > li{padding: 10px 0; border-top: 1px solid #E9E9E9;}
    > li:nth-child(2){position: relative;}
    > li > a{@include text2; padding: 10px 0; line-height: inherit;}
    > li > a.active{color: var(--red);}
    > li > a::after{left: 0; transform: translateX(0); bottom: 7px;}
    > li:hover{
      .sub-menu,.sub-menu.product{display: none;}
      a{color: var(--dark); font-weight: 500;}
      a:after{display: none;}
    }
    > li.active{
      .sub-menu{
        display: block; background: transparent;
        &.product{display: flex;}
      }
      .show-menu{background: url("#{$img-path}/arrow-up.svg") no-repeat center center;}
    }
    a:hover:before,a.active:before{
      width: 50px; bottom: 0;
    }
    .show-menu{
      display: flex; align-items: center; justify-content: center;
      width: 40px;
      height: 40px;
      background: url("#{$img-path}/arr-down.svg") no-repeat center center;
      position: absolute; right: 0; top: 11px;
      transition: .4s;
    }
    .sub-menu{
      width: auto;
      display: none;
      padding: 5px 0 22px;
      background: none;
      box-shadow: none;
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      >*+*{margin-top: 0;}
      &.product{
        width: 100%;
      }
      li:last-child{padding-bottom: 0;}
      li{padding: 16px 0; }
      li a{padding: 0; font-size: 14px; line-height: 20px;}
      &:before{display: none;}
    }
    .product{
      padding-bottom: 16px;
      li{width: 100%; padding: 12px 0;}
      li a{min-height: auto; display: flex; align-items: center; font-weight: 500;}
      li img{width: 92px;}
      span{flex: 1; margin-top: 0; padding-left: 12px; text-align: left;}
    }
  }
  .navbar-expand-lg .navbar-collapse{display: block !important;}
  .navbar-expand-lg .navbar-nav{flex-direction: column;}

  //main
  main{padding-top: 80px;}
  .language{
    .dropdown-menu{top: 20px;}
  }

  .box-fix-right{right: -12px;}

  //monkey junior
  .monkey-landing{
    &.junior{
      .monkey-landing--s1{padding: 55px 0 !important;}
    }
    &.math{
      .monkey-landing--s2::before{top: 240px;}
      .monkey-landing--s6{
        &:before{top: 300px;}
        &::after{top: 1000px}
      }
    }
    &.vmonkey{
      .monkey-landing--s3{
        .col-lg-4{margin-bottom: 120px;}
        .col-lg-4:last-child{margin-bottom: 0;}
      }
      .monkey-landing--s6{
        .method{
          &--2 .method__content::after{top: -47px; right: -52px;}
          &--3 .method__content{
            max-width: 390px;
            &::after{left: -60px;}
          }
        }
      }
    }
    &--s1{
      .flex{align-items: center; }
    }
    &--s3{
      .item{margin-bottom: 30px;}
    }
    .method{
      &:nth-child(odd) .method__img{margin-right: 5%;}
      &:nth-child(even) .method__img{margin-left: 5%;}
      &__content{max-width: 50%;}
      &__img{max-width: 45%;}
    }
    .program{
      margin: 80px 0;
    }
    .box-sale{
      .box-register{margin: 32px 0 0;}
    }
  }


  .monkey-header-success{min-height: 120px;}


  //uikit
  h2.title{font-size: 32px; line-height: 1.34;}
  h1.title{
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }
  .container{padding-left: 16px; padding-right: 16px;}
}

@media (max-width: 768px){
  .monkey-advise{
    min-height: 400px;
    padding: 48px 0;
    background: #F7F7F7 url("#{$img-path}/bg-ad.svg") no-repeat 50% 0/cover;
    .advise{
      &__content{max-width: 100%; margin-right: 0;}
      &__img{display: none;}
      p{margin-bottom: 20px; font-size: 18px; line-height: 28px;}
      label{margin-bottom: 12px; font-size: 14px; line-height: 20px;}
    }
  }
  footer{
    .info{
      padding: 48px 0;
      .col-left{margin-bottom: 16px;}
      .col-left,.col-right{width: 100%; padding: 0;}
      h2{margin-bottom: 12px;}
    }
    .logo-white{margin: 50px auto 24px;}
    .middle{
      align-items: flex-start;
      h3{margin-bottom: 16px;}
      li a{font-size: 12px; line-height: 18px;}
      .col1,.col2{margin: 0 0 30px;}
      .col1{width: 33.3%;}
      .col2,.col3{width: 33.3%;}
      .col4{width: 100%; margin: 0;}
      .col3{margin-right: 0;}
    }
    .service{
      margin-top: 30px;
      p{margin-bottom: 16px;}
      .box-btn{
        margin-bottom: 5px;
        >*+*{margin-left: 0;}
        a{margin: 0 5px 12px; padding: 8px;}
      }
    }
    .bottom{
      margin-top: 32px;
      padding: 24px 0 48px;
      .copyright{max-width: 50%;}
    }
  }

  //uikit
  .tf4{font-size: 18px; line-height: 28px;}
  .tf1{font-size: 14px; line-height: 20px;}
  .pd-80{padding: 60px 0;}
  .pdd-8{padding: 45px 0 60px;}
  .header{
    .title{margin-bottom: 15px;}
    p{font-size: 16px; line-height: 24px;}
  }
}

@media (max-width: 668px){
  //monkey junior
  .monkey-landing{
    &.junior{
      .intro{
        margin-right: 0; max-width: 100%;
        &::after{display: none;}
      }
      .monkey-landing--s1{
        background: url("#{$img-path}/decor-mj-m1.svg") no-repeat 0 0/100%;
        .video{
          max-width: 100%; margin: 0 0 20px;
          &__play{width: 38px;}
        }
        .flex-lc{flex-direction: column-reverse;}
      }
      .monkey-landing--s2{
        &::before{right: -50%; top: -40px;}
      }
      .monkey-landing--s3 .row-s3{
        .col-lg-3:nth-child(1){order: 1;}
        .col-lg-3:nth-child(2){order: 2;}
        .col-lg-3:nth-child(3){order: 4;}
        .col-lg-3:nth-child(4){order: 3;}
      }
      .monkey-landing--s3::before{
        @include landing;
        height: 877px;
        background: url("#{$img-path}/decor-mj-m2.svg") no-repeat 0 0/100%;
        bottom: -200px; top: inherit;
      }
      .monkey-landing--s4{background: none;}
      .monkey-landing--s6::before{
        @include landing; height: 1569px;
        background: url("#{$img-path}/bg-pj5.svg") no-repeat 0 0/100%;
        bottom: -630px;
      }
      .monkey-landing--s8::before{
        height: 1569px;
        background: url("#{$img-path}/decor-mj-m3.svg") no-repeat 0 0/100%;
        top: -610px;
      }
    }
    &.stories,&.math,&.vmonkey{
      .monkey-landing--s2{
        .top-list{
          >*+*{border-left: none;}
          li{width: 100%;}
        }
      }
    }
    &.stories,&.math{
      .monkey-landing--s6{
        .program{
          &:nth-child(odd) .program__content{margin-right: 0;}
          &:nth-child(even) .program__video{margin: 0 auto 24px;}
          &__content,&__video{max-width: 100%;}
          &__video{margin: 0 auto 24px;}
        }
      }
    }
    &.stories{
      .intro{
        margin-right: 0; max-width: 100%;
        h1.title{font-size: 43px;}
        span{display: inline-block;}
      }
      .monkey-landing--s1{
        padding: 50px 0 60px;
        background: url("#{$img-path}/bg-ms1.svg") no-repeat 0 -80px/100%;
        .video{
          max-width: 100%;
          &__thumb{margin: 0 -15px;}
        }
        .flex-lc{flex-direction: column-reverse;}
      }
      .monkey-landing--s2{
        &::before{
          content: "";
          width: 100%; height: 795px;
          background: url("#{$img-path}/decor-ms-m1.svg") no-repeat 0 0/100%;
          position: absolute; left: 0; top: -420px; z-index: -1;
        }
        .top-list{
          margin-top: 20px;
          h4{margin-bottom: 4px;}
          li{margin-bottom: 2px; padding: 15px 0;}
          p{margin: 0; max-width: inherit;}
        }
      }
      .monkey-landing--s3 .register{margin-top: 0;}
      .monkey-landing--s4{
        background: linear-gradient(185.31deg, rgba(190, 232, 244, 0) 14.46%, #FAFEFF 86.32%);
        .title{margin-bottom: 26px;}
        .register p{margin: 16px 0 0;}
      }
      .monkey-landing--s5{
        background: url("#{$img-path}/bg-ms4.svg") no-repeat 0 0/100% 100%;
        padding-bottom: 30px;
      }
      .monkey-landing--s7{background: url("#{$img-path}/bg-ms3.svg") no-repeat 0 0/100%;}
      .monkey-landing--s8::before{
        height: 1569px;
        background: url("#{$img-path}/decor-ms-m2.svg") no-repeat 0 0/100%;
        top: 230px;
      }
    }
    &.math{
      .top-list{
        h4{margin-bottom: 4px;}
        li{min-height: initial; padding: 0;}
        p{margin: 0; max-width: inherit;}
      }
      .convenient{margin-top: 35px;}
      .monkey-landing--s1{
        padding: 60px 0;
        background: url("#{$img-path}/bg-mt-m1.svg") no-repeat 0 0/cover;
        .intro{margin-right: 0; padding-top: 20px;}
        .video{
          max-width: 100%;
          &__thumb{margin: 0 -15px;}
        }
        .flex-lc{flex-direction: column-reverse;}
      }
      .monkey-landing--s2{
        &::before{
          width: 100%; height: 677px;
          background: url("#{$img-path}/bg-mm2.svg") no-repeat 0 0/100%;
          top: -220px;
        }
        .title{text-transform: none;}
      }
      .monkey-landing--s3{
        &::before{
          background: url("#{$img-path}/bg-mm4.svg") no-repeat 0 45px/100%;
         top: 445px;
        }
        .register{margin-top: 24px;}
        .title{text-transform: none; margin-bottom: 20px;}
        .row > div:nth-child(odd) .benefit {
          margin-top: 0;
        }
      }
      .monkey-landing--s4{
        padding: 40px 0 30px;
        &::before{display: none;}
        .title{text-align: left; margin-bottom: 35px;}
      }
      .monkey-landing--s5::before{
        height: 790px;
        background: url("#{$img-path}/bg-mm5.svg") no-repeat 0 0/100%;
        top: -90px;
      }
      .monkey-landing--s6{
        padding-top: 0;
        &::before{top: 430px;}
        &::after{top: 1800px;}
      }
      .monkey-landing--s7{
        padding-top: 70px;
      }
      .monkey-landing--s8::before{
        height: 1569px;
        background: url("#{$img-path}/decor-mm3.svg") no-repeat 0 0/100%;
        top: 280px;
      }
    }
    &.vmonkey{
      .top-list{
        margin-top: 35px;
        h4{margin-bottom: 4px;}
        li{margin-bottom: 32px; padding: 0;}
        p{max-width: inherit;}
      }
      .monkey-landing--s1{
        background: url("#{$img-path}/bg-mv1.svg") no-repeat 0 0/100%;
        padding: 50px 0 42px;
        .intro{max-width: 100%; margin-right: 0; padding-top: 23px;}
        .video{
          max-width: 100%;
          &__thumb{margin: 0 -15px;}
        }
        .flex-lc{flex-direction: column-reverse;}
      }
      .monkey-landing--s2{
        padding: 25px 0 55px;
        &::before{
          width: 100%; height: 918px;
          background: url("#{$img-path}/bg-mv2.svg") no-repeat 0 0/100%;
         top: -20px;
        }
        h2.title{max-width: 95%;}
      }
      .monkey-landing--s3{
        h2.title{margin-bottom: 115px;}
      }
      .monkey-landing--s4{
        h2.title{text-transform: none;}
        .header{margin-bottom: 24px;}
        .register{margin-top: 24px;}
        &::after{
          height: 744px;
          background: url("#{$img-path}/decor-mv-m1.svg") no-repeat 0 0/100%;
          top: 590px;
        }
      }
      .method{
        h4{@include text3;}
        &:nth-child(even) .method__img::after{transform: rotate(0deg); left: -25px;}
        &:nth-child(odd) .method__img::after{transform: rotateY(180deg); right: -20px;}
        &__img::after{width: 18px; height: 107px; background: url("#{$img-path}/linev4.svg") no-repeat 0 0/contain;}
        &--1 .method__img::after{display: none;}
      }
      .monkey-landing--s6{
        &::before{background: url("#{$img-path}/decor-mv-m2.svg") no-repeat 0 0/100%; top: -310px;}
        &::after{background: url("#{$img-path}/decor-mv-m3.svg") no-repeat 0 0/100%; top: inherit; bottom: 400px;}
        .method-list{margin-top: 35px;}
      }
      .monkey-landing--s7{
        background: url("#{$img-path}/bg-mv3.svg") no-repeat 0 27px/100%;
        &::after{display: none;}
      }
    }
    h1.title{margin-bottom: 25px; font-size: 44px; line-height: 52px;}
    .logo{width: 64px; height: 64px; margin-bottom: 14px;}
    .register{
      margin-top: 24px;
      .btn_register,p{width: 100%; margin-right: 0; text-align: center;}
      p{margin-top: 16px;}
    }
    .top-list{
      margin-top: 40px;
      >*+*{border-left: none;}
      li{width: 100%; display: flex; padding: 0;}
      h4{margin-bottom: 4px;}
      .icon{margin-bottom: 0;}
      .content{padding-left: 16px; width: calc(100% - 48px); text-align: left;}
    }
    .method-list{margin: 48px 0;}
    .method{
      flex-direction: column-reverse;
      margin-bottom: 60px;
      &:nth-child(odd) .method__img{margin: 0 auto;}
      &:nth-child(even){
        flex-direction: column-reverse;
        .method__img{margin-left: 0;}
      }
      &__content{max-width: 100%; margin-bottom: 24px;}
      &__img{max-width: 100%; margin: 0 auto; position: relative;}
      h4{margin-bottom: 8px;}
    }
    .convenient{
      margin-top: 35px;
      li{width: 100%; margin-bottom: 32px; max-width: 100%; display: flex; align-items: flex-start;}
      .icon{margin: 0;}
      .content,h4{
        width: calc(100% - 56px);
        padding-left: 16px;
      }
      h4{padding-left: 0;}
    }
    .program{
      margin: 48px 0;
      &:nth-child(1){margin-top: 40px;}
      &:last-child{margin-bottom: 0;}
      &__img{margin: 0 auto 32px;}
      &__content{
        max-width: 100%;
        .btn_register{margin-top: 16px;}
      }
      h4{font-size: 20px; line-height: 30px;}
    }
    .feedback{
      margin-top: 45px;
      flex-direction: column-reverse;
      &__content,&__video{max-width: 100%;}
      &__content{margin: 32px 0 0;}
      .text{
        &::before{left: 0; top: -35px;}
      }
      .video{
        &::after{top: 7px; left: 7px;}
        &__play{width: 56px;}
      }
    }
    .skill{
      margin-top: 35px;
      &__round{
        width: 343px; height: 343px;
        margin: 0 auto 32px;
        position: relative; top: 0; left: 0; transform: translate(0,0);
      }
      &__list{
        li{max-width: 100%; margin-bottom: 32px; display: flex; flex-direction: row;}
        li:nth-child(1),li:nth-child(2){margin-bottom: 32px;}
        li:nth-child(odd){
          margin-right: 0; align-items: center;
          p{text-align: left;}
        }
        li:nth-child(even){
          align-items: center;
          p{text-align: left;}
        }
        .icon{width: 48px;}
        .content{width: calc(100% - 48px); padding-left: 16px; text-align: left;}
      }
      h4{font-size: 16px; line-height: 24px; margin-bottom: 4px;}
    }
    .method-study{
      margin-bottom: 24px;
      >*+*{margin-top: 24px;}
      li{padding: 16px; min-height: 124px;}
      .icon{width: 56px;}
      .content{width: calc(100% - 56px); padding-left: 16px;}
      h4{@include text3; margin-bottom: 4px;}
      p{font-size: 14px; line-height: 20px;}
    }
    .method-vmonkey{
      padding: 96px 24px 24px;
      h4{margin-bottom: 14px; min-height: auto; font: 24px/32px var(--monkeyheader);}
      p{@include text2;}
    }
    .benefit{
      margin-bottom: 24px;
      &__img{height: 404px; margin-bottom: 16px;}
      &__content{text-align: left;}
    }
    .vmonkey-study{
      max-width: 100%;
      &::after{display: block; width: 343px; height: 409px; position: relative; right: initial; z-index: 1;}
      >*+*{margin-top: 24px;}
      li{padding: 16px; align-items: flex-start;}
      .icon{width: 56px;}
      .content{width: calc(100% - 56px); padding-left: 16px;}
      h4{@include text2; margin-bottom: 4px;}
      p{font-size: 14px; line-height: 20px;}
    }
    .form-register{margin-top: 32px;}
    .table-price{
      margin-top: 24px;
      &.seller{margin-top: 48px;}
    }
    .box-sale{
      h4{font-size: 32px; line-height: 44px; text-align: center;}
      .box-register{
        margin-top: 48px;
      }
    }
    > div{padding: 70px 0 60px;}
    &--s1{
      .intro{max-width: 100%; margin: 0;}
      .video{
       margin: 10px auto 0;
        &__play{width: 64px;}
      }
    }
    &--s3{
      .item{
        margin-bottom: 24px;
        &__img{height: 176px;}
        &__content{min-height: auto;}
        h4{margin-bottom: 16px;}
      }
      .register{margin-top: 0;}
    }
    &--s4{
      .header{
        margin-bottom: 40px;
        p{@include text2; margin-top: 20px;}
      }
    }
    &--s5{
      .register{margin-top: 0;}
    }
    &--s7{
      .register{margin-top: 47px;}
    }
  }

  //modal
  .monkey-modal-video{
    .modal-dialog{max-width: 96vw;}
    .modal-content{height: 60vw;}
  }
  .modal-register{
    .modal-content{
      padding: 20px;
      .img-decor{display: none;}
      h5,form{max-width: 100%;}
    }
  }
  //footer
  footer{
    .middle{
      .col1{width: 55%;}
      .col2,.col3{width: 45%;}
      .col3{position: absolute; right: 0; top: 205px;}
    }
    .service{margin-top: 50px;}
  }

  //uikit
  .btn_pr{font-size: 16px; line-height: 24px;}
  .tf2{font-size: 12px; line-height: 18px;}
  .pc-s{display: none;}
  .m-s{display: block;}
  .m-sf{display: flex;}
  .mb-80{margin-bottom: 60px;}
  .breadcrumb{
    padding: 14px 0;
    font-size: 12px;
    line-height: 18px;
    li{padding: 2px 0;}
    li a{line-height: 26px;}
  }
}


@media (max-width: 360px){
  .monkey-landing{
    .skill{
      &__round{
        width: 288px; height: 288px; padding: 0 30px;
        h5{margin-bottom: 8px; font-size: 20px; line-height: 30px;}
        p{font-size: 14px; line-height: 20px;}
      }
    }
    .vmonkey-study{
      &::after{width: 288px; height: 343px;}
    }
  }
}